@use './colors.scss' as *;
@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

$baseFontSize: 14;


@function relativePx($number) {
    @return calc($number/$baseFontSize)*1em
};

@function absolutePx($number) {
    @return calc($number/$baseFontSize)*1rem
};

// namespace

$ns: 'ga';

// referrence

$grays: (
    "gray-0": #ffffff,
    "gray-5": #f2f2f2,
    "gray-10": #e9e9e9,
    "gray-15": #dfdfdf,
    "gray-20": #cccccc,
    "gray-30": #b9b9b9,
    "gray-40": #a6a6a6,
    "gray-50": #939393,
    "gray-60": #808080,
    "gray-70": #6c6c6c,
    "gray-80": #595959,
    "gray-85": #464646,
    "gray-90": #3d3d3d,
    "gray-95": #333333,
    "gray-100": #000000,
);
$white: map.get($grays, 'gray-0');
$black: map.get($grays, 'gray-95');

//
//font family
//
$fontName: 'Ubuntu';
$fontSize: calc($baseFontSize * 1px);
$fontSmoothing: antialiased;
$baseFontColor: $black;
$dModeBaseFontColor: $white;
//
//font weight
//
$light: 300;
$regular: 500;
$bold: 700;
$bolder: 900;

//
//line height
//
$lineHeight: calc(18 / $baseFontSize);

//
//letter spacing
//
$widerSpacing: 1px;
$wideSpacing: 0.5px;
$baseSpacing: normal;
$narrowSpacing: -0.5px;
$narrowerSpacing: -1px;

//
//border color
//
$borderColor:  map.get($grays, 'gray-15');
$borderDarkColor:  map.get($grays, 'gray-25');


//
//base background color
//
$background: #FFFFFF;
$dModeBackground: #333333;

//#definitions

//
// colors
//

$primary: #5178af;
$secondary: #35363a;

$success: #528E64;
$info: #909090;
$danger: #D50000;
$attention: #EC6E00;
$importance: #FDC036;

$lightSuccess: #CBE1D2;
$lightInfo: #D4E9ED;
$lightDanger: #FBE0DA;
$lightAttention: #FFE9D6;
$lightImportance: #FFF3D7;

$primaryText: $white;
$secondaryText: $white;

$infoText: $white;
$dangerText: $white;
$attentionText: $white;
$importanceText: $white;

$surface: #f2f2f2;
$surfaceHover: #F4F4F4;

$gray: #909090;
$lightGray: color.adjust($gray, $lightness: 16.1%);
$darkGray: color.adjust($black, $lightness: 20.4%);

$darkPrimary: color.adjust(
  color.adjust($primary, $saturation: 0%),
  $lightness: -10.6%
);
$darkSecondary: color.adjust($secondary, $lightness: -35.7%);
$darkerPrimary: color.adjust(
  color.adjust($primary, $saturation: 0%),
  $lightness: -20.8%
);
$darkerSecondary: color.adjust($secondary, $lightness: -58.1%);

$lightPrimary: color.adjust($primary, $lightness: 35%);
$lightSecondary: color.adjust($secondary, $lightness: 35%);

$surface1: #F8F8F8;
$surface2: #EFF4FC;
$surface3: #DAE8F8;


$redColor: #D75757;
$orangeColor: #EE9033;
$yellowColor: #F8B825;
$lightgreenColor: #B3BC40;
$greenColor: #61A475;
$lightblueColor: #8CC5CE;
$blueColor: #70A3CA;
$deepblueColor: #5178AF;
$deeppurpleColor: #9180B4;
$purpleColor: #AF77C0;
$brownColor: #A86A82;
$grayColor: #8B8B8B;

$brandColors: (
        'primary': ($primary, $darkPrimary, $primaryText),
        'secondary': ($secondary, $darkSecondary, $secondaryText),
);

$stateColors: (
    'success': ($success, color.adjust($greenColor, $lightness: -10%), $white, $lightSuccess),
    'info': ($info, color.adjust($info, $lightness: -10%), $infoText, $lightInfo),
    'danger': ($danger, color.adjust($danger, $lightness: -10%), $dangerText, $lightDanger),
    'attention': ($attention, color.adjust($attention, $lightness: -10%), $attentionText, $lightAttention),
    'importance': ($importance, color.adjust($importance, $lightness: -10%), $importanceText, $lightImportance),
);

@function grayHsl($per) {
    @return hsl(0, 0, $per) 
}

$colors: (
    'red': map.get($red-palette, 500),
    'orange': map.get($orange-palette, 400),
    'yellow': map.get($yellow-palette, 200),
    'lightgreen': map.get($lightgreen-palette, 200),
    'green': map.get($green-palette, 400),
    'lightblue': map.get($lightblue-palette, 300),
    'blue': map.get($blue-palette, 400),
    'deepblue': map.get($deepblue-palette, 500),
    'deeppurple': map.get($deeppurple-palette, 500),
    'purple': map.get($purple-palette, 400),
    'brown': map.get($brown-palette, 500),
    'gray': map.get($gray-palette, 500),
);
$colors2: (
    'red': #D93B3B,
    'sunset': #D44D32,
    'orange': #D95B2C,
    'amber': #D3873F,
    'yellow': #F5B54D,
    'citron': #CAC747,
    'lime': #85AB39,
    'green': #48992F,
    'mint': #3A874F,
    'teal': #449698,
    'cyan': #4D9BCC,
    'blue': #4E7AF8,
    'indigo': #5642ED,
    'purple': #8756F3,
    'pink': #BF3DA0,
    'rose': #BB3A62,
);

$light-level: 50;
$colors-light: (
    'red': map.get($red-palette, $light-level),
    'orange': map.get($orange-palette, $light-level),
    'yellow': map.get($yellow-palette, $light-level),
    'lightgreen': map.get($lightgreen-palette, $light-level),
    'green': map.get($green-palette, $light-level),
    'lightblue': map.get($lightblue-palette, $light-level),
    'blue': map.get($blue-palette, $light-level),
    'deepblue': map.get($deepblue-palette, $light-level),
    'deeppurple': map.get($deeppurple-palette, $light-level),
    'purple': map.get($purple-palette, $light-level),
    'brown': map.get($brown-palette, $light-level),
    'gray': map.get($gray-palette, $light-level),
);

@debug $colors-light;
//
//heading
//
$headerFontWeight: $bold;
$h1: absolutePx(22);
$h2: absolutePx(20);
$h3: absolutePx(18);
$h4: absolutePx(16);
$h5: absolutePx(14);

//Size
$tinySize: relativePx(10);
$smallSize: relativePx(12);
$mediumSize: relativePx(14);
$largeSize: relativePx(18);
$hugeSize: relativePx(26);
$massiveSize: relativePx(32);

// Scroll Bars

$useCustomScrollbars: true;

$thumbWidth: 8;
$thumbBorderWidth: 2;

$customScrollbarWidth: $thumbWidth + ($thumbBorderWidth * 2);
$customScrollbarHeight: $customScrollbarWidth;


$trackBackground: rgba(0, 0, 0, 0);
$trackBorderRadius: 0px;

$thumbBorderRadius: $customScrollbarWidth * 0.5;

$thumbBackground: rgba(0, 0, 0, 0.55);
$thumbTransition: color 0.2s ease;

$thumbBorderColor: $background;

$thumbInactiveBackground: rgba(0, 0, 0, 0.15);
$thumbHoverBackground: rgba(128, 135, 139, 0.8);

/* Inverted */
$trackInvertedBackground: rgba(255, 255, 255, 0.1);
$thumbInvertedBackground: rgba(255, 255, 255, 0.25);
$thumbInvertedInactiveBackground: rgba(255, 255, 255, 0.15);
$thumbInvertedHoverBackground: rgba(255, 255, 255, 0.35);

$baseBorderRadius: relativePx(2);
//$baseBorderRadius: 2em;
$baseInputRadius: $baseBorderRadius;

// button & input
$baseButtonColor: $black;
$baseButtonBg: #efefef;

$horizontalInputPadding: relativePx(12);
$verticalInputPadding: relativePx(8);
// $horizontalPadding: $horizontalInputPadding + ($horizontalInputPadding * 0.5);
$horizontalPadding: $horizontalInputPadding;
$verticalPadding: $verticalInputPadding;

$buttonPadding: $verticalPadding $horizontalPadding $verticalPadding;

// button-compact
$compactHorizontalPadding: $horizontalPadding * 0.5;
$compactVerticalPadding: $verticalInputPadding * 0.5;

$compactPadding: $compactVerticalPadding $compactHorizontalPadding;

//Button + Equal

$equalBtnWidth: 150px;
$equalBtnPadding: 11px 20px;

$equalLargeBtnWidth: 200px;
$equalLargeBtnPadding: 18px 30px;

//input base
$inputLineHeight: relativePx(17);
$lineHeightOffset:(( $inputLineHeight - 1em) * 0.5);
//$inputLineHeight: 17 / 14;
//$lineHeightOffset:(( $inputLineHeight - 1) * 0.5) * 14;

$inputVerticalOffsetPadding: calc($verticalInputPadding - $lineHeightOffset - 1px);

//$inputPadding: $inputVerticalOffsetPadding+px $horizontalInputPadding+px;
$inputPadding: $inputVerticalOffsetPadding $horizontalInputPadding;
// Grid system

$gridWhole: 12;
$gridGutter: 4;

$gridWholeMobile: 4;
$gridWholeTablet: 8;
$gridWholeLaptop: 12;

$gridPercent: calc(100 / $gridWhole);
$gridHalf: calc($gridWhole * 0.5);
$gridThird: calc($gridWhole / 3);
$gridQuarter: calc($gridWhole / 4);
$gridFifth: calc($gridWhole / 5);
$gridSixth: calc($gridWhole / 6);
$gridEighth: calc($gridWhole / 8);
$gridTenth: calc($gridWhole / 10);

$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-laptop: 1280px;
$bp-desktop: 1440px;


//Dark Mode
//$dModeBaseFontColor: $white;
//$dModeBorderColor: #494F61;
//$dModeBackground: #31363e;
//
//$dModeSurface: #272C34;

//breakpoint
$breakpoints: (
    xs: 0, //mobile-portrait
    sm: 576px, //mobile-landscape
    md: 768px, //tablet
    lg: 992px, //desktop
    xl: 1200px, //desktop-large
) !default;