extends ../layout

block title
    title #{title} Page

block contents
    .page-wrapper
        section#typography
            .section-title
                h1= title
                .section-desc 
                    p Core design foundations like font sizes, spacing, weight and Heading System.
            .section-contents
                h4 Typography
                .ga-card
                    .contents
                        .ga-tag.label.secondary
                            i.icon.left.xi-at
                            | fontfamily
                        | Pretendard Variable(CDN)
                        .contents-wrapper.pretendard
                            .ga-grid
                                .column.span-3.span-xs-12.mainWord AaBb
                                .column.span-9.span-xs-12.mainWord 가나다
                                .column.span-10.span-xs-12.subWord
                                    p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                    p abcdefghijklmnopqrstuvwxyz
                                    p 1234567890 ,./(){}[]\|:;"'?
                                    p 가나다라마바사 프리텐다드
            .section-contents
                h4 Weight
                .ga-card
                    .contents
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        th Value
                                        th Usage
                                tbody
                                    tr 
                                        td Light 
                                        td 300 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Regular 
                                        td 400 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Bold 
                                        td 600 
                                        td Frontend Renders On Grid. 

            .section-contents
                h4 Letter Spacing
                .ga-card
                    .contetns
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        th Value
                                        th Class
                                        th Usage
                                tbody
                                    tr 
                                        td Wider 
                                        td 1 
                                        td spacing-wider 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Wide 
                                        td 0.5 
                                        td spacing-wide 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Normal 
                                        td 0 
                                        td  
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Narrow 
                                        td -0.5 
                                        td spacing-narrow 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Narrower 
                                        td -1 
                                        td spacing-narrower 
                                        td Frontend Renders On Grid. 
            .section-contents
                h4.header Heading
                .ga-card
                    .contents
                        .contents-wrapper
                            h1.header [H1] Frontend Renders On Grid. (28px)
                            h2.header [H2] Frontend Renders On Grid. (24px)
                            h3.header [H3] Frontend Renders On Grid. (18px)
                            h4.header [H4] Frontend Renders On Grid. (16px)
                            h5.header [H5] Frontend Renders On Grid. (14px)
            .section-contents
                h4 Size
                .ga-card
                    .contents
                        .contents-wrapper
                            .ga-button.tiny Tiny
                            .ga-button.small Small
                            .ga-button.medium.toast-open Medium
                            .ga-button.large Large
                            .ga-button.huge Huge
                            .ga-button.massive Massive
                        .contents-wrapper
                            .contents-item.tiny [Tiny] Frontend Renders On Grid. (10px)
                            .contents-item.small [Small] Frontend Renders On Grid. (12px)
                            .contents-item.medium [Medium] Frontend Renders On Grid. (14px)
                            .contents-item.large [Large] Frontend Renders On Grid. (18px)
                            .contents-item.huge [Huge] Frontend Renders On Grid. (20px)
                            .contents-item.massive [Massive] Frontend Renders On Grid. (22px)
    block module 