extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#typography
            .section-title
                h1= title
                .section-desc
                    p !{cont("BASE_TYPOGRAPHY_SUB_TITLE")}
            .section-contents
                h4.header Typography
                .ga-segment.float.round-xl
                    .contents
                        .ga-tag.label.primary
                            i.icon.left.xi-at
                            | Font Family
                        span.bold.large  
                        .contents-wrapper.pretendard
                            .ga-grid
                                .column.span-3.span-xs-12.mainWord.hero AaBb
                                .column.span-9.span-xs-12.mainWord.hero 가나다
                                .column.span-10.span-xs-12.subWord
                                    p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                    p abcdefghijklmnopqrstuvwxyz
                                    p 1234567890 ,./(){}[]\|:;"'?
                                    p 가나다라마바사
            .section-contents
                h4.header Weight
                .ga-segment.float.round-xl
                    .contents
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        //- th Value
                                        th Usage
                                tbody
                                    tr 
                                        td Light 
                                        //- td 300 
                                        td.light Frontend Renders On Grid. 
                                    tr 
                                        td Regular 
                                        //- td 400 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Bold 
                                        //- td 600 
                                        td.bold Frontend Renders On Grid. 
                                    tr 
                                        td Bolder 
                                        //- td 900 
                                        td.bolder Frontend Renders On Grid. 

            .section-contents
                h4.header Letter Spacing
                .ga-segment.float.round-xl
                    .contetns
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        //- th Value
                                        th Class
                                        th Usage
                                tbody
                                    tr 
                                        td Wider 
                                        //- td 1 
                                        td spacing-wider 
                                        td.spacing-wider Frontend Renders On Grid. 
                                    tr 
                                        td Wide 
                                        //- td 0.5 
                                        td spacing-wide 
                                        td.spacing-wide Frontend Renders On Grid. 
                                    tr 
                                        td Normal 
                                        //- td 0 
                                        td  
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Narrow 
                                        //- td -0.5 
                                        td spacing-narrow 
                                        td.spacing-narrow  Frontend Renders On Grid. 
                                    tr 
                                        td Narrower 
                                        //- td -1 
                                        td spacing-narrower 
                                        td.spacing-narrower Frontend Renders On Grid. 
            .section-contents
                h4.header Heading
                .ga-segment.float.round-xl
                    .contents
                        .contents-wrapper
                            h1.header [H1] Frontend Renders On Grid.
                            h2.header [H2] Frontend Renders On Grid.
                            h3.header [H3] Frontend Renders On Grid.
                            h4.header [H4] Frontend Renders On Grid.
                            h5.header [H5] Frontend Renders On Grid.
            .section-contents
                h4.header Hero
                .ga-segment.float.round-xl
                    .contents
                        .contents-wrapper
                            .contents-item.hero.large FROG
                            .contents-item.hero Frontend Renders On Grid.
                            //- .contents-item.hero.sub Frontend Renders On Grid.

            .section-contents
                h4.header Size
                .ga-segment.float.round-xl
                    .contents
                        .contents-wrapper
                            .contents-item.tiny [Tiny] Frontend Renders On Grid.
                            .contents-item.small [Small] Frontend Renders On Grid.
                            .contents-item.medium [Medium] Frontend Renders On Grid.
                            .contents-item.large [Large] Frontend Renders On Grid.
                            .contents-item.huge [Huge] Frontend Renders On Grid.
                            .contents-item.massive [Massive] Frontend Renders On Grid.
    block module 