extends ../layout

block title
    title #{title}

block contents
    .page-wrapper
        section#typography
            .section-title
                h1 Typography
            .section-contents
                .ga-card
                    .contents
                        h4.contents-title
                            .ga-tag.label.secondary
                                i.icon.left.xi-at
                                | fontfamily
                            | Pretendard Variable(CDN)
                        .contents-wrapper.pretendard
                            .ga-grid
                                .column.span-2.span-xs-12.span-sm-12.span-md-12.mainWord AaBb
                                .column.span-8.span-xs-12.span-sm-12.span-md-12.mainWord 가나다
                                .column.span-10.span-xs-12.span-sm-12.span-md-12.subWord
                                    p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                                    p abcdefghijklmnopqrstuvwxyz
                                    p 1234567890 ,./(){}[]\|:;"'?
                                    p 가나다라마바사 프리텐다드
            .section-contents
                .ga-card
                    .contents
                        h4.contents-title Weight
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        th Value
                                        th Usage
                                tbody
                                    tr 
                                        td Light 
                                        td 300 
                                        td Frog Ui System 
                                    tr 
                                        td Regular 
                                        td 400 
                                        td Frog Ui System 
                                    tr 
                                        td Bold 
                                        td 600 
                                        td Frog Ui System 

            .section-contents
                .ga-card
                    .contetns
                        h4.contents-title Spacing
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        th Value
                                        th Class
                                        th Usage
                                tbody
                                    tr 
                                        td Wider 
                                        td 1 
                                        td spacing-wider 
                                        td Frog Ui System 
                                    tr 
                                        td Wide 
                                        td 0.5 
                                        td spacing-wide 
                                        td Frog Ui System 
                                    tr 
                                        td Normal 
                                        td 0 
                                        td  
                                        td Frog Ui System 
                                    tr 
                                        td Narrow 
                                        td -0.5 
                                        td spacing-narrow 
                                        td Frog Ui System 
                                    tr 
                                        td Narrower 
                                        td -1 
                                        td spacing-narrower 
                                        td Frog Ui System 
            .section-contents
                .ga-card
                    .contents
                        h4.header.contents-title Heading
                        .contents-wrapper
                            h1.header [H1] Gabia UI System (28px)
                            h2.header [H2] Gabia UI System (24px)
                            h3.header [H3] Gabia UI System (18px)
                            h4.header [H4] Gabia UI System (16px)
                            h5.header [H5] Gabia UI System (14px)
            .section-contents
                .ga-card
                    .contents
                        h4.contents-title Size
                        .contents-wrapper
                            .ga-button.tiny Tiny
                            .ga-button.small Small
                            .ga-button.medium.toast-open Medium
                            .ga-button.large Large
                            .ga-button.huge Huge
                            .ga-button.massive Massive
                        .contents-wrapper
                            .contents-item.tiny [Tiny] Gabia UI System (10px)
                            .contents-item.small [Small] Gabia UI System (12px)
                            .contents-item.medium [Medium] Gabia UI System (14px)
                            .contents-item.large [Large] Gabia UI System (18px)
                            .contents-item.huge [Huge] Gabia UI System (20px)
                            .contents-item.massive [Massive] Gabia UI System (22px)
    block module 
        script(src="/js/base.js")