extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#typography
            .section-title
                h1= title
                .section-desc
                    p !{cont("BASE_TYPOGRAPHY_SUB_TITLE")}
            .section-contents
                h4.header Weight
                .ga-segment.float.round-m
                    .contents
                        .contents-wrapper
                            table.ga-table
                                thead
                                    tr 
                                        th Name 
                                        th Device
                                        th Usage
                                tbody
                                    tr 
                                        td Light 
                                        td 300 
                                        td.light Frontend Renders On Grid. 
                                    tr 
                                        td Regular 
                                        td 400 
                                        td Frontend Renders On Grid. 
                                    tr 
                                        td Bold 
                                        td 600 
                                        td.bold Frontend Renders On Grid. 
                                    tr 
                                        td Bolder 
                                        td 900 
                                        td.bolder Frontend Renders On Grid. 

//- $breakpoints: (
//-     xs: 0, //mobile-portrait
//-     sm: 576px, //mobile-landscape
//-     md: 768px, //tablet
//-     lg: 992px, //desktop
//-     xl: 1200px, //desktop-large
//- ) !default;