extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
  .page-wrapper
    section#calendar
      .section-title
        h1= title
        .section-desc 
          p Date picker and scheduling UI component.
      .section-contents
        h4 기본
        .ga-card.attached
          .contents-wrapper.flex-wrap
            .ga-calendar
              .calendar-header 
                .current-date  
                  span.year
                  span.month 
                .controller 
                  button.prev-month.ga-button.icon.text.small
                    i.xi-angle-left
                  button.next-month.ga-button.icon.text.small
                    i.xi-angle-right
              .week-wrapper
                - var weeks = ['S', 'M', 'T', 'W', 'T', 'F', 'S']
                  each week in weeks
                    .cell.week-cell(data-name=`${week}`)
              .cell-wrapper
          .footer
            .code-wrapper
              - var code = `\n<div class="ga-calendar">\n   <div class="calendar-header">\n   ...\n   </div>\n   <div class="week-wrapper">\n   ...\n   </div>\n    <div class="cell-wrapper">\n   ...\n    </div>\n</div>`
              pre 
                code.language-markup= code            
block module 
    script(src="/js/calendar.js")
    script. 
        var list = setCalendar()
                    
