extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#modal
            .section-title
                h1= title
                .section-desc 
                    p !{cont("MODULES_MODAL_SUB_TITLE")}
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m
                    .contents-wrapper
                        .ga-modal
                            .modal
                                .modal-header
                                    .title Title
                                    .close-btn
                                        i.xi-close
                                .modal-contents
                                    div.contents Contants
                                .modal-footer
                                    button.ga-button.primary OK
                                    button.ga-button.text Cancel
            .section-contents
                h4.contents-title Run
                .ga-segment.float.round-m
                    .contents-wrapper
                        button.ga-button.green.show-btn SHOW MODAL
                        .ga-modal-container.ga-modal-background
                            .ga-modal
                                .modal
                                    .modal-header
                                        .title Title
                                        .close-btn.close
                                            i.xi-close
                                    .modal-contents
                                        div.contents Contents
                                    .modal-footer
                                        button.ga-button.primary OK
                                        button.ga-button.text.cancel Cancel
block module 
    script(src="/js/modal.js")