extends ../layout

block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#toast
            .section-title
                h1= title
                .section-desc 
                    p Temporary, auto-dismissable message for quick user feedback.
            .section-contents
                h4.contents-title 기본
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-contents success
            .section-contents
                h4.contents-title 닫기 버튼 사용
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-contents success
                            .toast-close
                                i.xi-close
            .section-contents
                h4.contents-title 아이콘 표시
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-icon
                                i.xi-check-circle
                            .toast-contents success
                        .toast.ga-danger
                            .toast-icon
                                i.xi-error
                            .toast-contents danger
                        .toast.ga-deepblue
                            .toast-icon
                                i.xi-info
                            .toast-contents message
                        .toast.ga-info
                            .toast-icon
                                i.xi-info
                            .toast-contents Info
                        .toast.ga-attention
                            .toast-icon
                                i.xi-info
                            .toast-contents Attention
                        .toast.ga-importance
                            .toast-icon
                                i.xi-info
                            .toast-contents Importance
            .section-contents
                h4.contents-title 동그랗게
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success.round
                            .toast-icon
                                i.xi-check-circle
                            .toast-contents success
                            .toast-close
                                i.xi-close
            .section-contents
                h4.contents-title 스타일
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.ex_toast_board
                        .toast.ga-success
                            .toast-icon
                                i.xi-check-circle
                            .toast-contents base type
                            .toast-close
                                i.xi-close
                        .toast
                            .toast-icon.ga-success
                                i.xi-check-circle
                            .toast-contents Icon-bg type
                            .toast-close
                                i.xi-close
                        .toast.border-left
                            .toast-contents.ga-success-border Line type
                            .toast-close
                                i.xi-close
                        .toast
                            .toast-icon.ga-success-text
                                i.xi-check-circle
                            .toast-contents.ga-success-border Icon type
                            .toast-close
                                i.xi-close
                        .toast.ga-success-light
                            .toast-icon
                                i.xi-check-circle
                            .toast-contents
                                span.bolder Light type
                            .toast-close
                                i.xi-close
            .section-contents
                h4.contents-title 테스트
                .ga-segment.float.round-xl.attached
                    .contents-wrapper.open-btn
                        div.ga-tag.label.success success
                        div.ga-tag.label.info info
                        div.ga-tag.label.danger danger
                        div.ga-tag.label.attention attention
                        div.ga-tag.label.importance importance
                        div.ga-tag.label.primary primary
                        div.ga-tag.label.secondary secondary
                        div.ga-tag.label.red red
                        div.ga-tag.label.orange orange
                        div.ga-tag.label.yellow yellow
                        div.ga-tag.label.lightgreen lightgreen
                        div.ga-tag.label.green green
                        div.ga-tag.label.lightblue lightblue
                        div.ga-tag.label.blue blue
                        div.ga-tag.label.deepblue deepblue
                        div.ga-tag.label.deeppurple deeppurple
                        div.ga-tag.label.purple purple
                        div.ga-tag.label.brown brown
                    div.theme-select
                        .ga-checkbox.radio.checked(data-name="")
                            input(type="radio", name="theme")
                            label Base
                        .ga-checkbox.radio(data-name="icon-bg")
                            input(type="radio", name="theme")
                            label Icon + Bg
                        .ga-checkbox.radio(data-name="icon")
                            input(type="radio", name="theme")
                            label Icon
                        .ga-checkbox.radio(data-name="line")
                            input(type="radio", name="theme")
                            label Line
                        .ga-checkbox.radio(data-name="light")
                            input(type="radio", name="theme")
                            label Light
                    .footer
                        button.ga-button.primary.run-btn 실행
                        button.ga-button.outline.clear-btn Clear
block module 
    script(src="/js/toast.js")
