extends ../layout



block title
    title #{title} | Frog UI CSS

block contents
    .page-wrapper
        section#tree
            .section-title
                h1= title
                .section-desc 
                    p
            .section-contents
                h4.contents-title Base
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tree-list
                            .tree-branch(aria-show="false")
                                .node-title 
                                    .node-label Tree Title 1
                                .node-children
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label Child Node 2
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label Child Node 2
                                        .node-children
                                            .tree-branch(aria-show="false") 
                                                .node-title 
                                                    .node-label Child Node 2-1
                            .tree-branch(aria-show="false")
                                .node-title 
                                    .node-label Tree Title 
                                .node-children
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label 
                                                .title Child Node 2
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label Child Node 2
                                        .node-children
                                            .tree-branch(aria-show="false") 
                                                .node-title 
                                                    .node-label Child Node 2-1
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.base}
            .section-contents
                h4.contents-title Files
                .ga-segment.float.round-m.attached
                    .contents-wrapper
                        .ga-tree-list.files
                            .tree-branch(aria-show="false")
                                .node-title 
                                    .node-label Tree Title 1
                                .node-children
                                    .tree-branch(aria-show="false") 
                                        .node-title
                                            
                                            .node-label Child Node 2
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label Child Node 2
                                        .node-children
                                            .tree-branch(aria-show="false") 
                                                .node-title 
                                                    .node-label Child Node 2-1
                            .tree-branch(aria-show="false")
                                .node-title 
                                    .node-label Tree Title 
                                .node-children
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label 
                                                .title Child Node 2
                                    .tree-branch(aria-show="false") 
                                        .node-title 
                                            .node-label Child Node 2
                                        .node-children
                                            .tree-branch(aria-show="false") 
                                                .node-title 
                                                    .node-label Child Node 2-1
                    .footer 
                        pre.code-wrapper
                            code.language-markup 
                                | #{codes.base}
block module 
    script(src="/js/tree.js")
    script.
        (function () {
            const treeList = document.querySelectorAll('.ga-tree-list');
            treeList.forEach((tree) => {
                const treeInstance = new TreeList(tree)
                treeInstance.init()
            })
        })()