@use 'sass:color';
@use 'sass:list';

.#{$ns} {
    &-button {
        position: relative;
        display: inline-block;
        font-weight: 400;
        line-height: 1em;
        vertical-align: baseline;
        cursor: pointer;
        color: $baseButtonColor;
        background-color: $baseButtonBg;
        padding: $buttonPadding;
        text-align: center;
        user-select: none;
        border-radius: $baseBorderRadius;
        border: 0;
        outline: none;
        text-shadow: none;
        box-shadow: 0 0 0 1px transparent inset;
        transition: opacity .1s ease,
        background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
        & button {
            font-family: inherit;
        }
        &.hover, &.focus,
        &:hover, &:focus {
            background-color: $hoverButtonBg;
            outline: none;
        }
        &.disabled,
        &[disabled], &:disabled {
            cursor: default;
            opacity: 0.5;
            // color: #C4C4C4 !important;
            // border-color: #C4C4C4 !important;
            // background-color: #F2F2f2 !important;
            pointer-events: none;
        }
        &:not(.icon) {
            border-radius: $baseBorderRadius;
        }
        i {pointer-events: none;}
        &.icon {
            min-width: 1em;
            min-height: 1em;
            padding: $verticalPadding;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.06) inset;
            i {
                margin:0;
                width: 1em;
                height: 1em;
            }
            img {
                margin:0;
            }
            //&.round {
            //    border-radius: 50%;
            //}
            &:active {
                color: #575757;
            }
        }
        &.text {
            //padding: 0;
            background: transparent;
            border: none;
            box-shadow: none;
            &:hover,
            &:focus {
                color: $baseButtonColor;
                background-color: $hoverButtonBg;
            }
            &[disabled],
            &:disabled {
                &:hover {
                    background: transparent;
                    border-color: transparent;
                    opacity: 0.5;
                }
            }
            &.readOnly {
                color: $baseFontColor;
                pointer-events: none;
                &:hover {
                    background: transparent;
                    border-color: transparent;
                }
            }
        }
        &.selected {
            background-color: $primary;
            color: $white;
        }
        &.no-hover {
            cursor: default;
            background: transparent !important;
            border: transparent !important;
        }
        &.fluid:not(.badge) {
            width: 100%;
        }
        &.round {
            border-radius: 2em;
        }
        &.outline {
            // background-color: $white;
            // color: $black;
            background-color: var(--bgc);
            color: var(--txt);
            //background-color: transparent;
            //border:1px solid $borderColor;
            box-shadow: 0 0 0 1px var(--brd) inset;
            &:hover {
                background-color: var(--suf);
            }
        }
        &.border:not(.outline), &.border:not(.text) {
            box-shadow: 0 0 0 1px var(--brd) inset;
        }
        &.compact {
            padding: $compactPadding;
            &.icon {
                padding: $compactVerticalPadding;
            }
        }
        i.icon {
            height: 0.85em;
            margin: 0;
            text-align: center;
            font-size: 1em;
            &.left {
                margin: 0 $buttonIconDistance 0 0;
            }
            &.right {
                margin: 0 0 0 $buttonIconDistance;
            }
        }
        a.link {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
        &.badge {
            display: inline-flex;
            align-items: center;
            .in-badge {
                vertical-align: baseline;
                margin-left: 10px;
                font-size: 11px;
                //font-weight: 600;
                text-align: center;
                min-width: 16px;
                min-height: 16px;
                line-height: 1em;
                padding: 2px 4px;
                border-radius: 1em;
            }
        }
        &.extend {
            transition: all 250ms ease;
            .hidden {
                display: none;
                transform: scale(0);
            }
            &:hover {
                .hidden {
                    display: inline-block;
                    transform: scale(1);
                }
    
            }
        }
        &.equal {
            min-width: $equalBtnWidth;
            padding: $equalBtnPadding;
            &.large {
                font-size: 1rem !important;
                min-width: $equalLargeBtnWidth;
                padding: $equalLargeBtnPadding;
            }
        }
        &.mini {
            padding: $verticalPadding;
            i.icon {
                margin-right: 5px;
            }
        }
    
    }
    &-button {
        margin: 0 0.5em 0 0;
        &:last-child {
            margin: 0;
        }
    }
    &-buttons {
        display: inline-flex;
        overflow-x: auto;
        .#{$ns}-button {
            flex: 1 0 auto;
            //padding: $verticalPadding;
            border-radius: 0;
            margin:0;
            &.active {
                background-color: $primary;
                color: #fff;
            }
            &:first-child:not(.icon) {
                border-top-left-radius: $baseBorderRadius;
                border-bottom-left-radius: $baseBorderRadius;
            }
            &:last-child:not(.icon) {
                border-top-right-radius: $baseBorderRadius;
                border-bottom-right-radius: $baseBorderRadius;
            }
            & + .#{$ns}-button {
                margin-left: 1px;
            }
        }
        &.outline {
            border-radius: $baseBorderRadius;
            border: 1px solid var(--brd);
            overflow: hidden;
            //box-sizing: content-box;
            .#{$ns}-button {
                margin: 0;
                box-shadow: none;
                border-left: 1px solid var(--brd);
                &:first-child {
                    border-left: none;
                    border-left: 0;
                }
                &.active, &.selected {
                    background-color: $primary;
                    color: #fff;
                }
                &:hover {
                    background-color: $hoverButtonBg;
                }
            }
        }
    }
}



@each $color, $values in list.join($brandColors, $stateColors) {
    $bgColor: #{list.nth($values, 1)};
    $hoverColor: #{list.nth($values, 2)};
    $textColor: #{list.nth($values, 3)};
    @if color-contrast(list.nth($values, 1),list.nth($values, 3)) < 2.5 {
        @debug $color;
        $textColor: $black;
    }
    .#{$ns}-button {
        &.#{$color} {
            background-color: $bgColor;
            color: $textColor;

            &.border:not(.outline), &.border:not(.text) {
                box-shadow: 0 0 0 1px $hoverColor inset;
            }
            &.selected,
            &.hover, &.focus,
            &:hover, &:focus {
                background-color: $hoverColor !important;
            }
            &.active {
                background-color: $hoverColor;
            }
            &.outline {
                background-color: var(--bgc) !important;
                color: $bgColor !important;
                box-shadow: 0 0 0 1px $hoverColor inset;
                &.selected,
                &:hover {
                    background-color: $bgColor !important;
                    color: $textColor !important;
                }
                &.active {
                    color: $hoverColor;
                }
            }
            &.text {
                background-color: transparent;
                color: $bgColor;
                box-shadow: none;
                &:hover {
                    color: $hoverColor !important;
                    background-color: $hoverButtonBg !important;
                }
                &.active {
                    color: $hoverColor;
                }
            }
            &.disabled,
            &[disabled], &:disabled {
                cursor: default;
                opacity: 0.3;
                // color: #C4C4C4 !important;
                // border-color: #C4C4C4 !important;
                // background-color: #F2F2f2 !important;
                pointer-events: none;
                box-shadow: none;
            }
        }

    }
}



@each $color, $value in $colors {
    $hoverColor: color.adjust($value, $lightness: -10%);
    $textColor: $white;
    @if color-contrast($value, $textColor) < 1.8 {
        $textColor: $black;
    }
    .#{$ns}-button {
        &.#{$color} {
            background-color: $value;
            color: $textColor;
            &.border:not(.outline), &.border:not(.text) {
                box-shadow: 0 0 0 1px $hoverColor inset;
            }
            &.selected,
            &.hover, &.focus,
            &:hover, &:focus {
                background-color: $hoverColor;
            }
            &.outline{
                background-color: var(--bgc);
                color: $value;
                box-shadow: 0 0 0 1px $hoverColor inset;
                &.selected,
                &:hover {
                    color: $textColor;
                    background-color: $value;
                }
            }
            &.text {
                background-color: transparent !important;
                color: $value !important;
                box-shadow: none;
                &:hover {
                    color: $hoverColor;
                    background-color: $hoverButtonBg;
                }
                &.selected,
                &.active {
                    color: $hoverColor;
                }
            }
            &.disabled,
            &[disabled], &:disabled {
                cursor: default;
                opacity: 0.3;
                // color: #C4C4C4 !important;
                // border-color: #C4C4C4 !important;
                // background-color: #F2F2f2 !important;
                pointer-events: none;
                box-shadow: none;
            }
            &-light {
                background-color: color.adjust($value, $lightness: 35%) !important;
                color: $value !important;
                &.border {
                    box-shadow: 0 0 0 1px $value inset;
                }
            }
        }
    }
}