.ga-card {
  width: 100%;
  background-color: $cardBackgroundColor;
  box-shadow: $cardBoxShadow;
  margin: 20px 0;
  border-radius: $cardBorderRadius;
  > .title {
    // font-family: 'Spoqa Han Sans Bold';
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 20px;
    padding: $cardVerticalPadding $cardHorizontalPadding 0;
  }
  > div, .contents {
    padding: $cardVerticalPadding $cardHorizontalPadding;
  }

  &.attached {
    > .header {
      // margin-left: $cardHorizontalPadding * -1;
      // margin-right: $cardHorizontalPadding * -1;
      // margin-top: $cardVerticalPadding * -1;
      // margin-bottom: $cardVerticalPadding;
      // > div {
      //   padding: ($cardVerticalPadding * 0.5) $cardHorizontalPadding
      // }
      border-top-left-radius: $cardBorderRadius;
      border-top-right-radius: $cardBorderRadius;
    }
    > .footer {
      // margin-left: $cardHorizontalPadding * -1;
      // margin-right: $cardHorizontalPadding * -1;
      // margin-bottom: $cardVerticalPadding * -1;
      // margin-top: $cardVerticalPadding;
      // > div {
      //   padding: ($cardVerticalPadding * 0.5) $cardHorizontalPadding
      // }
      border-bottom-left-radius: $cardBorderRadius;
      border-bottom-right-radius: $cardBorderRadius;
    }
  }
}