
@use 'sass:color';

$cardBackgroundColor: var(--depth-bg);
$cardBoxShadow: var(--depth-bs);
$cardHorizontalPadding: 20px;
$cardVerticalPadding: 16px;
$maxCardColumn: 12;
$cardsGap: 12px;
.#{$ns} {
  &-card {
    --card-width: 300px;
    position: relative;
    max-width: 100%;
    width: var(--card-width);
    background-color: $cardBackgroundColor;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.border {
      border: 1px solid var(--brd);
      > .extra {
        border-top: 1px solid var(--brd);
      }
    }
    &.float {
      box-shadow: $cardBoxShadow;
    }
    &.surface {
      background-color: var(--suf);
    }

    &.round {
      &-s {
        border-radius: calc($baseBorderRadius * 0.5);
      }
      &-m {
        border-radius: $baseBorderRadius;
      }
      &-l {
        border-radius: calc($baseBorderRadius * 2);
      }
      &-xl {
        border-radius: calc($baseBorderRadius * 4);
      }
    }
    > div {
      padding: $cardVerticalPadding $cardHorizontalPadding;
    }
    
  
    > .extra {
      padding: $cardVerticalPadding $cardHorizontalPadding;
    }
    &.media {
      > .image {
        width: 100%;
        padding: 0;
        // border-top-left-radius: inherit;
        // border-top-right-radius: inherit;
        // overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    &.attached {
      > .header {
        // padding: 0;
        background-color: var(--suf);
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
      > .footer {
        // padding: 0;
        background-color: var(--suf);
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
    > .contents {
      flex-grow: 1;
      flex-shrink: 0;
      padding: $cardHorizontalPadding;
      .title {
        margin-bottom: 20px;
      }
    }
  }
  
  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    &.column {
      @for $i from 1 through $maxCardColumn {
        &-#{$i} > .#{$ns}-card {
          width: calc(100% / $i - $cardsGap);
        }
      }
    }
    .#{$ns}-card {
      .float {
        box-shadow: none;
      }
    }
  }
}
