$gridGutter: 4;
.#{$ns} {
  &-form {
    width: 100%;
    max-width: 100%;
    > .field, > .fields {
      margin-bottom: 1rem;
    }
    .divider {
      margin-bottom: 1rem;
      width: 100%;
      border-top: 1px solid #f8f8f8;
      border-bottom: 1px solid #d6d6d6;
    }
    .header {
      margin: 0 0 16px 0;
      .title {
        font-size: 1.4em;
        font-weight: 500;
      }
      .desc {
        color: var(--txt-light);
      }
    }
    .field {
      display: flex;
      flex-direction: column;
      gap: 4px;
      flex-wrap: wrap;
      align-items: flex-start;
      input, textarea {
        vertical-align: baseline;
        font-size: 1rem;
        padding: $inputPadding;
        line-height: $inputLineHeight;
        font-weight: 400;
        border: 1px solid var(--brd);
        background-color: var(--bgc);
        color: var(--txt);
        border-radius: $baseInputRadius;
        transition-duration: .2s;
        box-sizing: border-box;
        outline: none;
        // width: 100%;
        &:hover {
          border-color: #c0c4cc;
        }
        &:focus {
          border-color: $primary;
          &::placeholder {
            opacity: 1;
          }
        }
        &::placeholder {
          line-height: 1em;
          font-weight: 100;
          color: #c4c4c4;
          opacity: 0.5;
        }
      }
      & > label, & > .label {
        font-size: 1em;
        display: block;
      }
      &[disabled], &.disabled {
        cursor: not-allowed;
        > input, > textarea {
  
          opacity: .5;
          pointer-events: none;
        }
        > label, .label {
          opacity: 0.5;
        }
      }
      &.readonly {
        > input, > textarea {
          pointer-events: none;
        }
      }
      &.underline > input {
        background: transparent;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid var(--brd);
        &:focus {
          border-color: $primary
        }
      }
      &.inline {
        flex-direction: row;
        align-items: center;
        gap: 12px;
        label, label {
          flex-shrink: 0;
        }
        div:not(label, .error-text, .help-text) {
          flex-grow: 1;
        }
        input {
          width: auto;
        }
      }
      textarea {
        min-height: 10em;
      }
      &.short textarea {
        min-height: 4em;
      }
      .help-text {
        font-size: 1em;
        color: var(--txt-light);
      }
      .error-text {
        font-size: 1em;
        color: var(--error);
      }
      .extra {
        margin-top: 8px;
      }
      
    }
    fieldset,
    .fields {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .field:not(.column) {
        padding: $gridGutter * 1px;
      }
      .fields-title,
      legend {
        width :100%;
        font-weight: 500;
        font-size: 1rem;
      }
      &.grid {
        margin-bottom: 1rem;
        input {
          width: 100%;
        }
      }
    }
  }
}