
$gridBorderRadius: $baseBorderRadius * 2;
.#{$ns} {
  &-grid2 {
    --grid-col-num: #{$gridWhole};
    --grid-row-num: #{$gridWhole};
    --grid-gap: #{$gridGutterLarge};
    --rows-height: '1ft';
    width: 100%;
    display: grid;
    grid-gap: calc(var(--grid-gap) * 1px);
    grid-template-columns: repeat(var(--grid-col-num), 1fr);
    margin-bottom: var(--grid-gap);
    &.set-rows {
      grid-template-rows: repeat(var(--grid-row-num), var(--rows-height));
    }
    &.inline {
      display: inline-grid;
    }
    &.auto-fit {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
    }
    &:last-child {
      margin: 0;
    }
    &.divide-column {
      grid-template-columns: repeat($gridWhole, 1fr);
      @for $i from 1 through $gridWhole {
        &-#{$i} {
          grid-template-columns: repeat($i, calc($gridWhole / $i) * 1fr);
        }
      }
    }
    &.row {
      @for $i from 1 through $gridWhole {
        &-#{$i} {
          grid-template-rows: repeat($i, 1fr);
        }
      }
    }
    &.flow {
      &-column {
        grid-auto-flow: column;
      }
      &-row {
        grid-auto-flow: row;
      }
    }
    &.dense {
      grid-auto-flow: dense;
    }
    &.justify-content {
      &-left {
        justify-content: start;
      }
      &-center {
        justify-content: center;
      }
      &-right {
        justify-content: end;
      }
      &-strech {
        justify-content: stretch;
      }
      &-around {
        justify-content: space-around;
      }
      &-between {
        justify-content: space-between;
      }
      &-evenly {
        justify-content: space-evenly;
      }
    }
    &.align-content {
      &-top {
        align-content: start;
      }
      &-center {
        align-content: center;
      }
      &-bottom {
        align-content: end;
      }
      &-strech {
        align-content: stretch;
      }
      &-around {
        align-content: space-around;
      }
      &-between {
        align-content: space-between;
      }
      &-evenly {
        align-content: space-evenly;
      }
    }
    &.justify-items {
      &-left {
        justify-items: start;
      }
      &-center {
        justify-items: center;
      }
      &-right {
        justify-items: end;
      }
      &-strech {
        justify-items: stretch;
      }
    }
    &.align-items {
      &-top {
        align-items: start;
      }
      &-center {
        align-items: center;
      }
      &-bottom {
        align-items: end;
      }
      &-strech {
        align-items: stretch;
      }
    }
    > .column {
      &.col {
        @for $i from 1 through $gridWhole {
          &-#{$i} {
            grid-column: auto / span $i;
          }
        }
      }
      &.row {
        @for $i from 1 through $gridWhole {
          &-#{$i} {
            grid-row: auto / span $i;
          }
        }
      }
      &.justify {
        &-start {
          justify-self: start;
        }
        &-center {
          justify-self: center;
        }
        &-end {
          justify-self: end;
        }
        &-strech {
          justify-self: stretch;
        }
      }
      &.align {
        &-start {
          align-self: start;
        }
        &-center {
          align-self: center;
        }
        &-end {
          align-self: end;
        }
        &-strech {
          align-self: stretch;
        }
      }
    }
    &.round {
      > .column {
        border-radius: 14px;
      }
    }
    &.tabled {
      --grid-gap: #{$gridTableGutter}px;
      background-color: $tableBorderColor;
      border: 1px solid $tableBorderColor;
      margin: $margin;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.labeled {
        margin-top: 0;
      }
      > .column {
        padding: $cellPadding;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &.label {
          background-color: $headerBackgroundColor;
          color: $tableBorderColor;
          font-weight: 900;
        }
        &.align-left {
          justify-content: flex-start;
        }
        &.align-center {
          justify-content: center;
        }
        &.align-right {
          justify-content: flex-end;
        }
        &.align-top {
          align-items: flex-start;
        }
        &.align-middle {
          align-items: center;
        }
        &.align-bottom {
          align-items: flex-end;
        }
      }
      .be-select-box,
      .be-input {
        margin: 0;
        width: 100%;
      }
      .be-input input {
        padding: $compactPadding;
      }
      .be-select-box {
        select {
          padding: $compactPadding;
        }
        i {
          padding: $compactVerticalPadding + px;
        }
      }
      .be-button {
        padding: $compactPadding;
      }
    }
    &.dosirak {
      --grid-auto-row: auto;
      grid-auto-rows: calc(var(--grid-auto-row) * 1px);
      > .column {}
      &.round {
        > .column {
          border-radius: $gridBorderRadius;
        }
        &-s > .column {
          border-radius: calc($gridBorderRadius * 0.5);
        }
        &-m > .column {
          border-radius: $gridBorderRadius;
        }
        &-l > .column {
          border-radius: calc($gridBorderRadius * 2);
        }
        &-xl > .column {
          border-radius: calc($gridBorderRadius * 4);
        }
      }
    }
  }
}


@media all and (max-width: #{$bp-tablet - 1px}) {
  .#{$ns}-grid2 {
    --grid-gap: #{$gridGutterSmall};
    &.row {
      @for $i from 1 through $gridWhole {
        &-xs-#{$i} {
          grid-template-rows: repeat($i, 1fr);
        }
      }
    }
    .column {
      &.col {
        @for $i from 1 through $gridWhole {
          &-xs-#{$i} {
            grid-column: auto / span $i;
          }
          &-row-xs-#{$i} {
            grid-row: auto / span $i;
          }
        }
      }
    }
  }
}
@media all and (min-width: #{$bp-tablet}) and (max-width: #{$bp-laptop - 1px}) {
  .#{$ns}-grid2 {
    --grid-gap: #{$gridGutterSmall};
    &.row {
      @for $i from 1 through $gridWhole {
        &-sm-#{$i} {
          grid-template-rows: repeat($i, 1fr);
        }
      }
    }
    .column {
      &.col {
        @for $i from 1 through $gridWhole {
          &-sm-#{$i} {
            grid-column: auto / span $i;
          }
          &-row-sm-#{$i} {
            grid-row: auto / span $i;
          }
        }
      }
    }
  }
}
@media all and (min-width: #{$bp-laptop}) and (max-width: #{$bp-desktop - 1px}) {
  //@media all and (max-width: #{$bp-desktop - 1px}) {
  .#{$ns}-grid2 {
    &.row {
      @for $i from 1 through $gridWhole {
        &-md-#{$i} {
          grid-template-rows: repeat($i, 1fr);
        }
      }
    }
    .column {
      &.col {
        @for $i from 1 through $gridWhole {
          &-md-#{$i} {
            grid-column: auto / span $i;
          }
          &-row-md-#{$i} {
            grid-row: auto / span $i;
          }
        }
      }
    }
  }
}
