@use 'sass:color';
@use 'sass:list';

$msgHorizontalPadding: 20px;
$msgVerticalPadding: 16px;
$msgPadding: $msgVerticalPadding $msgHorizontalPadding;

.#{$ns} {
  &-message {
    padding: $msgPadding;
    border-radius: 4px;
    background-color: var(--bgc);
    border: 1px solid var(--brd);
    color: var(--txt-light);
    margin-bottom: 4px;
    width: 100%;
    line-height: $lineHeight;
    &:last-child {
        margin: 0;
    }
    // &:hover {
    //     background-color: var(--suf);
    // }
    &.align {
      &-left {
          text-align: left;
      }

      &-center {
          text-align: center;
      }

      &-right {
          text-align: right;
      }
    }
    &.icon {
      padding-left: 48px;
      position: relative;
      i.icon {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 1.6em;
      }
    }
    & > .title {
      font-weight: bold;
    }
  }
  &-messages {
    display: flex;
    width: 100%;
    gap: 8px;

    &.list {
      flex-direction: column;
    }
  
    .#{$ns}-message {
      width: auto;
      flex: 1 0 auto;
      margin: 0;
      &.selected {
        color: $primary;
        background-color: var(--suf);
        border-color: $primary
      }

      &:hover {
        background-color: var(--suf);
      }

      &.disabled {
        pointer-events: none;
        color: #d4d4d4;
        background-color: #ededed;
        border-color: #ccc;
      }
    }
  
    &.grid {
      .column {
        &.col {
          @for $i from 1 through $gridWhole {
            &-#{$i} {
              width: $gridPercent * $i * 1%;
            }
          }
        }
      }

      &.divide {
        @for $i from 1 through $gridWhole {
          &-#{$i}>.column {
            width: calc(100% / $i)
          }
        }
      }
    }
  }
}

@each $color, $value in $stateColors {
  .#{$ns}-message {
    &.#{$color} {
      background-color: color.change(list.nth($value, 1), $alpha: 0.16) !important;
      color: list.nth($value, 1) !important;
      border-color: list.nth($value, 1) !important;
    }
  }
}