@use 'sass:color';
@use 'sass:list';

.#{$ns} {
  &-message {
    padding: 15px 20px;
    border-radius: 4px;
    background-color: var(--bgc);
    border: 1px solid var(--brd);
    color: #999;
    margin-bottom: 5px;

    &:last-child {
        margin: 0;
    }
    &:hover {
        background-color: var(--suf);
    }
    &.align {
      &-left {
          text-align: left;
      }

      &-center {
          text-align: center;
      }

      &-right {
          text-align: right;
      }
    }
  }
  &-messages {
    display: flex;
    gap: 8px;

    &.list {
      flex-direction: column;
    }
  
    .#{$ns}-message {
      &.selected {
        color: $primary;
        background-color: var(--suf);
        border-color: $primary
      }

      &:hover {
        background-color: var(--suf);
      }

      &.disabled {
        pointer-events: none;
        color: #d4d4d4;
        background-color: #ededed;
        border-color: #ccc;
      }
    }
  
    &.grid {
      .column {
        &.col {
          @for $i from 1 through $gridWhole {
            &-#{$i} {
              width: $gridPercent * $i * 1%;
            }
          }
        }
      }

      &.divide {
        @for $i from 1 through $gridWhole {
          &-#{$i}>.column {
            width: calc(100% / $i)
          }
        }
      }
    }
  }
}

@each $color, $value in $stateColors {
  .#{$ns}-message {
    &.#{$color} {
      background-color: color.change(list.nth($value, 1), $alpha: 0.16) !important;
      color: list.nth($value, 1) !important;
      border-color: list.nth($value, 1) !important;
    }
  }
}