@use 'sass:color';

.#{$ns}-pagination {
  display: flex;
  width: 100%;
  outline: 0;
  &.hide {
    display: none;
  }
  &.round {
    .pagination-nav,
    .pagination-num {
      border-radius: 1em;
    }
  }
  .pagination {
    &-item {
      font-size: 1rem;
      border:1px solid;
      background-color: var(--bgc);
      border-color: var(--brd);
    }
    &-page-wrapper {
      display: flex;
    }
    &-nav, &-num {
      cursor: pointer;
      display: inline-block;
      min-width: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: 500;
      border-radius: $baseBorderRadius;
      vertical-align: baseline;
      margin: 0 4px;
      padding:  0 0.5em;
      user-select: none;
      color: var(--txt);
      // transition-duration: .1s;
      // transition: all 250ms ease;
      &:hover {
        background-color: var(--suf);
        border-color: var(--brd);
        color: var(--txt);
      }
      &.active {
        background-color: $primary;
        border-color: color.adjust($primary, $lightness: 10%);
        color:#fff;
        pointer-events: none;
      }
      &.disabled {
        pointer-events: none;
        opacity: .5;
      }
    }
  }
  &.#{$ns}-flex,
  &.align {
    &-left {justify-content: flex-start;}
    &-center {justify-content: center;}
    &-right {justify-content: flex-end;}
  }
  &.page {
    .pagination {
      &-info {
        font-size: 14px;
        background-color: var(--bgc);
        line-height: 1em;
        text-align: center;
        font-weight: 500;
        padding: 0.5em 1em;
        user-select: none;
        color: #909090;
      }

      &-nav {
        margin: 0;
        border-radius: $baseBorderRadius;
        z-index: 10;
        &:first-child {
          margin-right: -1px;
        }

        &:last-child {
          margin-left: -1px;
        }
      }
    }
  }
  &.compact {
    .pagination {
      &-num, &-nav {
        min-width: 1.75em;
        line-height: 1.75em;
        padding: 0 0.375em;
        margin: 0 3px;
      }
    }
  }
  &.text {
    .pagination {
      &-num,
      &-nav {
        border-color: transparent;
        background-color: transparent;
        &:hover {
          color: #ccc;
        }
        &.active {
          font-weight: 800;
          color: $primary;
          pointer-events: none;
        }
      }
    }
  }
}

@each $color, $value in $colors {
  $hoverColor: color.adjust($value, $lightness: -10%);
  $textColor: $white;
  @if color-contrast($value, $textColor) < 1.8 {
    $textColor: $black;
  }
  .#{$ns}-pagination {
    background-color: transparent;
    &.#{$color} {
      .pagination-num.active {
        background-color: $value;
      }
    }
    &.text.#{$color} {
      .pagination-num.active {
        background-color: transparent;
        color: $value;
      }
    }
  }
}