.#{$ns}-panel {
  --max-height: 100dvh;
  
  margin: $margin;
  width: 100%;
  border-radius: $baseBorderRadius;
  overflow: hidden;
  .panel-header {
    // background-color: $panelBackgroundColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $panelPadding;
    gap: 4px;
    .title {
      flex-grow: 1;
      min-width: 14em;
      font-weight: 700;
    }
    .panel-toggle-btn {
      line-height: 1;
      padding: 0 4px;
      i {
        transition: transform 150ms ease;
      }
    }
  }
  .panel-content {
    margin: -1px;
    .content-wrapper {
      padding: $panelPadding;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
  &.border {
    border: $panelBorder;
    .panel-content {
      border-top: $panelBorder;
    }
  }
  &.collapse {
    .panel-content {
      max-height: 0;
      overflow: auto;
      transition: all 0.25s ease;
    }
    &.icon {
      &.left {
        .panel-toggle-btn {
          order: -1;
        }
      }
    }
    &.open {
      .panel-content {
        max-height: var(--max-height);
        // .content-wrapper {
        //   display: inline-block;
        // }
      }
      .panel-toggle-btn {
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.#{$ns}-accordion {
  border-radius: $baseBorderRadius;
  .#{$ns}-panel {
    margin: 0;
    border-radius: 0;
    .panel-content {
      transition: none;
    }
  }
  &.border {
    border: $panelBorder;
    .#{$ns}-panel {
      border-bottom: $panelBorder;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}