
$segmentBgColor: var(--depth-bg);
$segmentBoxShadow: var(--depth-bs);
$segmentText: var(--txt-light);
$segmentHorizontalPadding: 20px;
$segmentVerticalPadding: 16px;

$segmentRadius: 1rem;

.#{$ns} {
  &-segment {
    border-radius: $baseBorderRadius;
  
    background-color: $segmentBgColor;
    color: $segmentText;
    margin-bottom: 12px;
    overflow: auto;
    & > div {
      padding: $segmentVerticalPadding $segmentHorizontalPadding;
    }
    &:last-child {
      margin: 0;
    }
    &.border {
      border: 1px solid var(--brd);
    }
    &.float {
      box-shadow: $segmentBoxShadow;
    }
    &.align {
      &-left {
        text-align: left;
      }
      &-center {
        text-align: center;
      }
      &-right {
        text-align: right;
      }
    }
    &.surface {
      background-color: var(--suf);
    }
    &.attached {
      > .header {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }
      > .footer {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }
    &.round {
      &-s {
        border-radius: calc($segmentRadius * 0.5);
      }
      &-m {
        border-radius: $segmentRadius;
      }
      &-l {
        border-radius: calc($segmentRadius * 2);
      }
      &-xl {
        border-radius: calc($segmentRadius * 4);
      }
    }
    &.collapse {
      --max-line: 10em;
      height: var(--max-line);
      overflow-y: hidden;
      &.detail {
        height: max-content;
        transition: all 500ms;
        .toggle-detail {
          background: transparent;
          height: auto;
          &:after {
            content: 'collapse';
            top: 0;
          }
        }
      }
      .toggle-detail {
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30%;
        text-align: center;
        background: linear-gradient(
          0,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.5) 100%
        );
        &:after {
          content: 'Detail';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 4px 10px;
          border-radius: 1em;
          opacity: 0.5;
          transition: opacity 250ms;
        }
        &:hover:after {
          opacity: 1;
        }
      }
    }
     > .contents {
      padding: $segmentHorizontalPadding;
      > .title {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: var(--txt);
      }
    }
  }
  &-segments {
    background-color: $segmentBgColor;
    .#{$ns}-segment {
      margin: 0;
      border-radius: 0;
      background-color: transparent;
      &.border {
        border: 0;
      }
      &.float {
        box-shadow: none;
      }
      &[class*='round-'] {
        border-radius: 0;
      }
    }
    &.border {
      border: 1px solid var(--brd);
      .#{$ns}-segment.border {
        border-bottom: 1px solid var(--brd);
        &:last-child {
          border: 0;
        }
      }
    }
    &.float {
      box-shadow: $segmentBoxShadow;
    }
    &.round {
      &-s {
        border-radius: calc($segmentRadius * 0.5);
      }
      &-m {
        border-radius: $segmentRadius;
      }
      &-l {
        border-radius: calc($segmentRadius * 2);
      }
      &-xl {
        border-radius: calc($segmentRadius * 4);
      }
    }
  }
}
