@use 'sass:color';
@use 'sass:list';

$baseSliderHeight: 8px;
$thinSliderHeight: 3px;
$fatSliderHeight: 1em;
$sliderMargin: 14px;

$baseSliderBg: var(--suf);
$baseSliderBgHover: var(--hover-suf);

$sliderHandleSize: 1em;

.#{$ns}-slider {
  --unit: attr(data-unit, '');
  display: block;
  width: 100%;
  height: $baseSliderHeight;
  position: relative;
  margin: $sliderMargin 0;
  background-color: $baseSliderBg;
  border-radius: calc($baseSliderHeight / 2);
  padding: 0 !important;
  &:hover {
    background-color: $baseSliderBgHover;
  }
  &.thin {
    height: $thinSliderHeight;
  }
  &.fat {
    height: $fatSliderHeight;
    border-radius: 0.5em;
    .result-slider {
      border-radius: $fatSliderHeight;
    }
  }
  &.labeled {
    margin-bottom: 2.5em;
  }
  input {
    position: absolute;
    top: 50px;
  }
  .result-slider {
    color: #ccc;
    background-color: $primary;
    position: absolute;
    height: 100%;
    border-radius: calc($baseSliderHeight / 2);
    box-shadow: none;
    opacity: 0.8;
  }
  .control-btn {
    cursor: grab;
    outline: 0;
    position: absolute;
    width: $sliderHandleSize;
    height: $sliderHandleSize;
    box-shadow: 0 0 0 2px rgba($primary, 0.4);
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    &.min {z-index: 1;}
    &.max {z-index: 2;}
    &:hover {
      transform: translate(-50%, -50%) scale(1.05);
      box-shadow: 0 0 0 2px rgba($primary, 1), 0 0 0 5px rgba($primary, 0.16);
    }
    &:active {
      cursor: grabbing;
    }
    &.catching {
      background-color: #454545;
    }
  }
  .break-point {
    cursor: pointer;
    background-color: $white;
    position: absolute;
    width: 8px;
    height: 100%;
    top: 0;
    transform: translateX(-50%);
  }
  .slider-title {
    // position: absolute;
    bottom: 100%;
  }
  &:has(.label-text) {
    margin-bottom: 30px;
  }
  .label-text {
    position: relative;
    width: 100%;
    top: 100%;
    display: block;
    margin: 0;
    & > div {
      position: absolute;
      top: 0;
      padding: 4px;
      color: #999;
      // background-color: #fff;
      text-align: center;
      min-width: 50px;
      &.start-label {
        left: 0;
        transform: translateX(-50%);
      }
      &.end-label {
        right: 0;
        transform: translateX(50%);
      }
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.6;
    .result-slider {
      background-color: #ccc;
    }
    .control-btn {
      cursor: not-allowed;
      border-color: #d6d6d6;
      &::before {
        border-color: #d6d6d6;
      }
    }
  }
  &:hover {
    .result-slider {
      opacity: 1;
    }
  }
  &[data-start] {
    --start: attr(data-start %, '100%');
    --start-label: attr(data-start);
    
  }
  &[data-end] {
    --end: attr(data-end %, '100%');
    --end-label: attr(data-end);
  }
  .result-slider {
    left: var(--start);
    width: calc(var(--end) - var(--start));
  }
  .control-btn {
    left: var(--end);
    .min {
      left: var(--start);
    }
  }
  &.tooltip {
    > .control-btn:hover {
      &:before {
        content: var(--end-label)+var(--unit);
        position: absolute;
        background-color: $primary;
        font-size: 0.8em;
        color: $white;
        border-radius: 4px;
        padding: 4px 8px;
        margin-bottom: 10px;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 0);
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-bottom: 6px;
        transform: translate(-50%, 0);
        border-top: 6px solid $primary;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
      &.min {
        &:before {
          content: var(--start-label)+var(--unit);
        }
      }
    }
  }
  &.show-result:not(.tooltip) {
    > .control-btn {
      &:before {
        content: var(--end-label)+var(--unit);
        position: absolute;
        font-size: 0.8em;
        color: $primary;
        border-radius: 4px;
        padding: 4px 8px;
        margin-top: 10px;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
      }
      &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: 6px;
        transform: translate(-50%, 0);
        border-bottom: 6px solid $primary;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
      &.min {
        &:before {
          content: var(--start-label)+var(--unit);
        }
      }
    }
  }
  &.no-handle {
    .control-btn {
      display: none;
    }
  }
  // BEUI`s style only
  .control-btn {
    .tooltip {
      display: none;
      padding: 4px 8px;
      position: absolute;
      min-width: max-content;
      bottom: 100%;
      left: 50%;
      z-index: 9999;
      margin-bottom: 10px;
      border-radius: 4px;
      background-color: $primary;
      color: #fff;
      font-size: 0.8em;
      transform: translateX(-50%);
      &:before {
        content: '';
        position: absolute;
        margin-top: -1px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 6px solid $primary;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
    &:hover {
      .tooltip {
        display: block;
      }
    }
  }
  .label-text {
    .current-label {
      transform: translateX(-50%);
      color: $primary;
      font-weight: 700;
      top: 10px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 6px solid $primary;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }
  }
}

@each $color, $value in $colors {
  $hoverColor: color.adjust($value, $lightness: -10%);
  $textColor: $white;
  $ratio: color-contrast($value, $textColor);
  @if $ratio < 2.5 {
      $textColor: $black;
  }
  .#{$ns}-slider {
    &.#{$color} {
      .result-slider {
        background-color: $value;
      }
      .control-btn {
        box-shadow: 0 0 0 2px rgba($value, 0.4);
        &:hover {
          box-shadow: 0 0 0 2px rgba($value, 1), 0 0 0 5px rgba($value, 0.16);
        }
      }
      &.tooltip {
        .control-btn {
          &:before {
            background-color: $value;
          }
          &:after {
            border-top-color: $value;
          }
        }
      }
      &.show-result {
        .control-btn {
          &:before {
            color: $value;
          }
          &:after {
            border-bottom-color: $value;
          }
        }
      }
      // BEUI`s style only
      .control-btn {
        .tooltip {
          background-color: $value;
          &:before {
            border-top-color: $value;
          }
        }
      }
      .label-text {
        .current-label {
          color: $value;
          &:before {
            border-bottom-color: $value;
          }
        }
      }
    }
  }
}
