.#{$ns}-switch {
  display: inline-block;
  input {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  &.slide {
    position: relative;
    width: 3em;
    height: 1.3em;
    &:not(.inside) {
      margin: 0.15em;
    }
    input:checked + .switch {
      background-color: $primary
    }
    input:checked + .switch:before {
      transform: translateX(1.7em);
    }
    .switch {
      cursor: pointer;
      position: absolute;
      inset: 0.1em;
      display: inline-block;
      background-color: #c4c4c4;
      border-radius: $switchRadiusSize;
      /*transition: all 400ms ease-out;*/
      &.round {
        border-radius: 1em;
        &:before {
          border-radius: 50%;
        }
      }
      &:before {
        content: '';
        position:absolute;
        width: 1.6em;
        height: 1.6em;
        top: -0.25em;
        left: -0.25em;
        background-color: #fff;
        border-radius: $switchRadiusInside;
        //border: 1px solid #c4c4c4;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.16);
        transition: all 250ms ease-out;
        box-sizing: border-box;
      }
    }
    &.inside {
      width: 42px;
      height: 22px;
      top: 0;
      input:checked + .switch:before {
        transform: translateX(20px);
      }
      .switch {
        inset: 0;
      }
      .switch:before {
        width: 18px;
        height: 18px;
        top: 2px;
        left: 2px;
      }
    }
  }
  &.button {
    position: relative;
    font-size: 0.9em;
    background-color: var(--suf);
    box-shadow: 0 0 0 1px var(--brd);
    padding: 2px;
    border-radius: $switchRadiusSize;
    // box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.16);
    &:before {
      content: '';
      position: absolute;
      border-radius: $switchRadiusSize;
      background-color: $primary;
      // width: calc(50% - 2px);
      // height: calc(100% - 4px);
      top: 2px;
      bottom: 2px;
      left: 50%;
      right: 2px;
      transition: left 500ms ease, right 150ms ease;
    }
    &:has(input:checked) {
      &:before {
        left: 2px;
        right: 50%;
        transition: right 500ms ease, left 150ms ease;
      }
    }
    span {
      background-color: transparent !important;
      position: relative;
      z-index: 3;
      border-radius: $switchRadiusInside;
    }
    &.round {
      border-radius: 1em;
      span.on,
      span.off {
        border-radius: 1em;
      }
      &:before {
        border-radius: 1em;
      }
    }
    input {
      & ~ .off {
        background-color: $primary;
        color: $white;
        font-weight: 700;
        // border-radius: $switchRadiusInside;
        //box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.36);
      }
      & ~ .on {
        font-weight: 500;
        background-color: transparent;
      }
    }
    input:checked {
      & ~ .on {
        background-color: $primary;
        color: $white;
        font-weight: 700;
        // border-radius: $switchRadiusInside;
        //box-shadow: 0 0 5px 0 #2985DB;
      }
      & ~ .off {
        background-color: transparent;
        color: var(--txt);
        box-shadow: none;
        font-weight: 500;
      }
    }
    // &.round {
    //   border-radius: calc(1em + 2px);
    //   span.on, span.off {
    //     border-radius: 1em;
    //   }
    // }
    span {
      display: inline-block;
      padding: 0.5em 0.8em;
      line-height: 1em;
    }
    //.active {
    //  background-color: #2985DB;
    //  color: #ffffff;
    //  font-weight: 700;
    //  border-radius: 4px;
    //}
  }
}

.label-text {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top:0;
}