
.#{$ns} {

  &-tooltip {
    pointer-events: none;
    width: max-content;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    word-break: break-all;
    filter: drop-shadow(0 0 5px #50505033);
    &.small {
      padding: 5px 10px;
      font-size: .8em;
    }
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background-color: inherit;
      margin: -1px;
    }
    
    &:where([class*='top'], [class*='bottom'])::after {
      width: 10px;
      height: 6px;
    }
    &:where([class*='left'], [class*='right'])::after {
      width: 6px;
      height: 10px;
    }
    &.theme-dark {
      background-color: #505050;
      color: #ffffff;
    }
    &[class*='top']::after {
      top: 100%;
    }
    &[class*='bottom']::after {
      bottom: 100%;
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }
    &[class*='left']::after {
      left: 100%;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
    
    &[class*='right']::after {
      right: 100%;
      clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }
    
    &.top-start::after,
    &.bottom-start::after {
      left: max(10%, 1em);
    }
    &.top-center::after,
    &.bottom-center::after {
      left: 50%;
      transform: translateX(-50%);
    }
    &.top-end::after,
    &.bottom-end::after {
      right: max(10%, 1em);
      /* transform: translateX(-100%); */
    }
    
    &.left-start::after,
    &.right-start::after {
      top: max(10%, 1em);
    }
    &.left-center::after,
    &.right-center::after {
      top: 50%;
      transform: translateY(-50%);
    }
    &.left-end::after,
    &.right-end::after {
      bottom:  max(10%, 1em);
      /* transform: translateY(-100%); */
    }
  }
  &-tooltip {
    font-size: 1rem;
    font-weight: normal;
    // background-color: var(--bgc);
    // color: var(--txt);
    padding: 5px 20px;
  
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.16));
    border-radius: 8px;
    &.absolute {
      position: absolute;
      transform: translateX(-50%);
      &[class*='top'] {
        bottom: 100%;
        top: auto;
      }
      &[class*='bottom'] {
        top: 100%;
      }
    }
  }
}
