.#{$ns}-tree-list {
  width: 100%;
  &.files {
    .node-children {
      &:before {
        content: '';
        background-color: var(--brd);
        width: 1px;
        height: 100%;
        position: absolute;
        left: -14px;
      }
    }
  }
}
.tree-branch {
  &[aria-show="true"] {
    & > .node-children {
      display: block;
    }
  }
  &[aria-show="false"] {
    & > .node-children {
      display: none;
    }
  }
  &[aria-show="true"],
  &.show {
    & > .node-title {
      .expend-icon {
        transform: rotate(0) !important;
      }
    }
  }
  .node-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    .node-label {
      padding: 4px;
      flex: 1 0 auto;
      &:hover {
        background-color: var(--hover-suf);
      }
      .sub-title {
        color: var(--txt-light);
        line-height: 1;
      }
    }
    .sub-node-title {
      font-size: 0.85;
      color: #909090;
      padding: 0;
    }
    i.icon {
      width: 22px;
      aspect-ratio: 1;
      transition: transform 250ms;
      padding: 4px;
      &.expend-icon {
        transform: rotate(-90deg);
      }
    }
  }
  .node-children {
    position: relative;
    // margin-left: calc(25px * (var(--level)));
    margin-left: 24px;
  }
}
$animation-duration: .5s;
$animation-duration-fade: 0.5s;

[class*="#{$ns}-motion-"] {
  animation: $animation-duration ease-out both;
}

.#{$ns}-motion-duration {
  @each $dur in (100, 150, 200, 250, 300, 400, 500, 600, 700, 800, 1000) {
    &-#{$dur} {
      animation-duration: #{$dur}ms;
    }
  }
}

.#{$ns}-motion {
  &-fade {
    animation-name: fr-fade;
    animation-duration: $animation-duration-fade;
    animation-timing-function: linear;
    &-scale-up {
      animation-name: fr-fade, fr-scale-up;
    }
  
    &-scale-down {
      animation-name: fr-fade, fr-scale-down;
    }
  
    &-slide-top {
      animation-name: fr-fade, fr-slide-top;
    }
  
    &-slide-bottom {
      animation-name: fr-fade, fr-slide-bottom;
    }
  
    &-slide-left {
      animation-name: fr-fade, fr-slide-left;
    }
  
    &-slide-right {
      animation-name: fr-fade, fr-slide-right;
    }
  }


  &-scale-up {
    animation-name: fr-scale-up;
  }

  &-scale-down {
    animation-name: fr-scale-down;
  }

  &-slide-top {
    animation-name: fr-slide-top;
  }

  &-slide-bottom {
    animation-name: fr-slide-bottom;
  }

  &-slide-left {
    animation-name: fr-slide-left;
  }

  &-slide-right {
    animation-name: fr-slide-right;
  }

  &-expand-up {
    animation-name: fr-expand;
    transform-origin: bottom center;
  }
  
  &-expand-down {
    animation-name: fr-expand;
    transform-origin: top center;
  }

  &-reverse {
    animation-direction: reverse;
    animation-timing-function: ease-in;
  }

  &-toggle {
    cursor: pointer;
    &:not(:hover):not(:focus) {
      [class*="#{$ns}-motion-"] { animation-name: none; }
    }
  }
}



@keyframes fr-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fr-scale-up {
  0% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes fr-scale-down {
  0% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes fr-slide-top {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes fr-slide-bottom {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes fr-slide-left {
  0% { transform: translateX(-100%); }
  100% { transform: translateY(0); }
}

@keyframes fr-slide-right {
  0% { transform: translateX(100%); }
  100% { transform: translateY(0); }
}

@keyframes fr-expand {
  0% { transform: scaleY(0); }
  100% { transform: scaleY(1); }
}
