// /*reset*/
// body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, th, td, input, select, button {margin:0;padding:0}
// fieldset, img {border:0 none}
// dl, ul, ol, menu, li {list-style:none}
// blockquote, q {quotes:none}
// blockquote:before, blockquote:after, q:before, q:after {content:'';content:none}
// input, select, textarea, button {vertical-align:middle}
// input::-ms-clear {display:none}
// button {border:0 none;background-color:transparent;cursor:pointer}
// body {direction:ltr;-webkit-text-size-adjust:none}
// body, h1, h2, h3, h4, th, td, input, select, textarea, button, a, pre {color:inherit;font-size:1em;line-height:1.5;font-weight:400;font-family: $fontName,'Apple SD Gothic Neo','돋움',dotum, sans-serif}
// a {text-decoration:none; display: inline-block;}
// a:hover {text-decoration:none}
// a:active {background-color:transparent}
// address, caption, cite, code, dfn, em, var {font-style:normal;font-weight:normal}
// html {box-sizing:border-box;  font-size: 14px;}
// *, *:before, *:after {box-sizing:inherit}
// i {pointer-events: none;}

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td, input,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
//     box-sizing: inherit;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// html {box-sizing:border-box;font-size: 14px;}
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }