@use 'sass:map';
@use 'sass:list';
@use 'sass:math';
@use 'sass:color';


:root {
    font-family: $fontName;
    line-height: $lineHeight;


    --bgc: #{map.get($grays, 'gray-0')};
    --txt: #{map.get($grays, 'gray-95')};
    --txt-light: #{map.get($grays, 'gray-85')};
    --brd: #{map.get($grays, 'gray-15')};

    --suf: #{map.get($grays, 'gray-5')};
    --hover-suf: #{map.get($grays, 'gray-10')};

    --base-color: #{map.get($grays, 'gray-10')};
    --base-hover-color: #{map.get($grays, 'gray-15')};

    --depth-bg: #{map.get($grays, 'gray-0')};
    --depth-bs: 0 0 16px 2px rgba(0, 0, 0, 0.16);

    --primary: #{$primary};
    --secondary: #{$secondary};

    --success: #{$success};
    --info: #{$info};
    --error: #{$danger};
    --warning: #{$attention};
    --importance: #{$importance};

    --mobile-p: #{map.get($breakpoints, 'xs')};
    --mobile-l: #{map.get($breakpoints, 'sm')};
    --tablet: #{map.get($breakpoints, 'md')};
    --desktop: #{map.get($breakpoints, 'lg')};
    --desktop-l: #{map.get($breakpoints, 'xl')};
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgc: #{map.get($grays, 'gray-95')};
        --txt: #{map.get($grays, 'gray-0')};
        --txt-light: #{map.get($grays, 'gray-10')};
        --brd: #{map.get($grays, 'gray-85')};

        --suf: #{map.get($grays, 'gray-90')};
        --hover-suf: #{map.get($grays, 'gray-90')};

        --base-color: #{map.get($grays, 'gray-80')};
        --base-hover-color: #{map.get($grays, 'gray-70')};

        --depth-bg: color-mix(in oklab, #{map.get($grays, 'gray-95')}, rgba(0, 0, 0, 0.04));
        // --depth-bg: color-mix(in oklab, #{map.get($grays, 'gray-100')}, rgba(255, 255, 255, 0.04));
        // --depth-bg: #{map.get($grays, 'gray-80')};
        // --depth-bg: rgba(0, 0, 0, 0.2);
        --depth-bs: none;

    }
}

:root.light-mode {
    --bgc: #{map.get($grays, 'gray-0')};
    --txt: #{map.get($grays, 'gray-95')};
    --txt-light: #{map.get($grays, 'gray-85')};
    --brd: #{map.get($grays, 'gray-15')};
    --suf: #{map.get($grays, 'gray-5')};
    --hover-suf: #{map.get($grays, 'gray-10')};

    --base-color: #{map.get($grays, 'gray-10')};
    --base-hover-color: #{map.get($grays, 'gray-15')};

    --depth-bg: #{map.get($grays, 'gray-0')};
    --depth-bs: 0 1px 8px 1px rgba(0, 0, 0, 0.16);
}

:root.dark-mode {
    --bgc: #{map.get($grays, 'gray-95')};
    --txt: #{map.get($grays, 'gray-0')};
    --txt-light: #{map.get($grays, 'gray-10')};
    --brd: #{map.get($grays, 'gray-85')};
    --suf: #{map.get($grays, 'gray-90')};
    --hover-suf: #{map.get($grays, 'gray-85')};

    --base-color: #{map.get($grays, 'gray-80')};
    --base-hover-color: #{map.get($grays, 'gray-70')};

    --depth-bg: color-mix(in oklab, #{map.get($grays, 'gray-95')}, rgba(0, 0, 0, 0.04));
    --depth-bs: 0 0 0 1px rgba(0, 0, 0, 0.16);
}

@each $color, $value in $stateColors {
    $lightValue: color.adjust(list.nth($value, 1), $lightness: 35%);
    :root {
      --#{$ns}-#{$color}-color: #{$value};
      --#{$ns}-#{$color}-light: #{$lightValue};
    }
  }
  @each $color, $value in $colors {
    $lightValue: color.adjust(list.nth($value, 1), $lightness: 35%);
    :root {
      --#{$ns}-#{$color}-color: #{$value};
      --#{$ns}-#{$color}-light: #{$lightValue};
    }
  }

@function color-contrast($bg, $fg) {
    $luminance1: luminance($fg) + 0.05;
    $luminance2: luminance($bg) + 0.05;
    $ratio: calc($luminance1 / $luminance2);
    
    @if $luminance2 > $luminance1 {
        $ratio: 1 / $ratio;
    }
    
    $ratio: calc(math.round($ratio * 100) / 100);
    
    @return $ratio;
}

@function luminance($color) {
    $red: list.nth(linear-rgb($color), 1);
    $green: list.nth(linear-rgb($color), 2);
    $blue: list.nth(linear-rgb($color), 3);
    
    @return .2126 * $red + .7152 * $green + .0722 * $blue;
}

@function linear-rgb($color) {
    $r: calc(color.channel($color, "red", $space: rgb) / 255);
    $g: calc(color.channel($color, "green", $space: rgb) / 255);
    $b: calc(color.channel($color, "blue", $space: rgb) / 255);
    
    $r: if($r <= .03928, calc($r / 12.92), math.pow(calc(($r + .055) / 1.055), 2.4));
    $g: if($g <= .03928, calc($g / 12.92), math.pow(calc(($g + .055) / 1.055), 2.4));
    $b: if($b <= .03928, calc($b / 12.92), math.pow(calc(($b + .055) / 1.055), 2.4));
    
    @return ($r, $g, $b);
}