@use 'sass:list';
@use 'sass:color';
@use 'sass:map';
// @use '../../utils/colors.scss' as *;

$amount: 0.5;

$headerTopMargin: 2em - $lineHeight * 0.5;
$headerMargin: $headerTopMargin 0 1rem;


a {
    color: var(--txt);
    text-decoration: none;
}

hr {
    border-top-color: map.get($grays, 'gray-15');
}

mark {
    color: var(--txt);
    background-color: color.adjust($primary, $alpha: -0.7);
    text-shadow: 0 0 5px 1px var(--txt);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// i {
//     font-size: 1.2em;
// }

//Definitions

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5 {
    font-weight: $headerFontWeight;
    &.header {
        margin: $headerMargin;
        &:first-child { margin-top: ($lineHeight * 0.5) * 1em; }
    }
}
h1,.h1 {font-size: $h1 !important;}
h2,.h2 {font-size: $h2 !important;}
h3,.h3 {font-size: $h3 !important;}
h4,.h4 {font-size: $h4 !important;}
h5,.h5 {font-size: $h5 !important;}

.tiny {font-size: $tinySize !important;}
.small {font-size: $smallSize !important;}
.medium {font-size: $mediumSize !important;}
.large {font-size: $largeSize !important;}
.huge {font-size: $hugeSize !important}
.massive {font-size: $massiveSize !important;}

.light {font-weight: $light !important;}
.regular {font-weight: $regular !important;}
.bold {font-weight: $bold !important;}
.bolder {font-weight: $bolder !important;}

.hero {
    font-size: $hero !important;
    &.large {font-size: $heroLarge !important;}
    &.small {font-size: $heroLarge !important;}
    &.sub {
        font-size: $heroSub !important;
    }
}

.spacing {
    &-wider {letter-spacing:$widerSpacing}
    &-wide {letter-spacing:$wideSpacing}
    &-normal {letter-spacing:normal}
    &-narrow {letter-spacing:$narrowSpacing}
    &-narrower {letter-spacing:$narrowerSpacing}
}


.primary {
    background-color: $primary;
    color: $primaryText;
    box-shadow: 0 0 0 1px $primary inset;
    &.dark {
        background-color:$darkPrimary;
    }
    &.darker {
        background-color:$darkerPrimary;
    }
}
.secondary {
    color: $secondaryText;
    background-color: $secondary;
    &.dark {
        background-color: $darkSecondary;
    }
    &.darker {
        background-color: $darkerSecondary;
    }
}
.surface {
    &1 {background-color: $surface1;}
    &2 {background-color: $surface2;}
    &3 {background-color: $surface3;}
}
.background {
    background-color: $background;
    border: 1px solid $gray;
}
.black {
    background-color: $black;
    &-text {
        color: $black;
    }
}
.white {
    background-color: $white;
    border: 1px solid $gray;
    &-text {
        color: $white;
    }
}
.transparent {
    background-color: transparent;
}
.gray {
    background-color: $gray;
    &.light {
        background-color: $lightGray;
    }
    &.dark {
        background-color: $darkGray;
    }
}
// @include generate-color-classes();
//grayscale
.gray {
    &-bg {
        &-0 {background-color: map.get($grays, 'gray-0');}
        &-5 {background-color: map.get($grays, 'gray-5');}
        &-10 {background-color: map.get($grays, 'gray-10');}
        &-15 {background-color: map.get($grays, 'gray-15');}
        &-20 {background-color: map.get($grays, 'gray-20');}
        &-30 {background-color: map.get($grays, 'gray-30');}
        &-40 {background-color: map.get($grays, 'gray-40');}
        &-50 {background-color: map.get($grays, 'gray-50'); color: #ffffff;}
        &-60 {background-color: map.get($grays, 'gray-60'); color: #ffffff;}
        &-70 {background-color: map.get($grays, 'gray-70'); color: #ffffff;}
        &-80 {background-color: map.get($grays, 'gray-80'); color: #ffffff;}
        &-85 {background-color: map.get($grays, 'gray-85'); color: #ffffff;}
        &-90 {background-color: map.get($grays, 'gray-90'); color: #ffffff;}
        &-95 {background-color: map.get($grays, 'gray-95'); color: #ffffff;}
        &-100 {background-color: map.get($grays, 'gray-100'); color: #ffffff;}
    }
    &-txt {
        &-0 {color: map.get($grays, 'gray-0');}
        &-5 {color: map.get($grays, 'gray-5');}
        &-10 {color: map.get($grays, 'gray-10');}
        &-15 {color: map.get($grays, 'gray-15');}
        &-20 {color: map.get($grays, 'gray-20');}
        &-30 {color: map.get($grays, 'gray-30');}
        &-40 {color: map.get($grays, 'gray-40');}
        &-50 {color: map.get($grays, 'gray-50');}
        &-60 {color: map.get($grays, 'gray-60');}
        &-70 {color: map.get($grays, 'gray-70');}
        &-80 {color: map.get($grays, 'gray-80');}
        &-85 {color: map.get($grays, 'gray-85');}
        &-90 {color: map.get($grays, 'gray-90');}
        &-95 {color: map.get($grays, 'gray-95');}
        &-100 {color: map.get($grays, 'gray-100');}
    }
}

@each $color, $value in $colors {
    .#{$ns}-#{$color} {
        background-color: $value !important;
        color: $white !important;
        border-color: color.adjust($value, $lightness: -10%) !important;
        &:hover {
            background-color: color.adjust($value, $lightness: -10%);
        }
        &-text {
            color: $value !important;
        }
        &-bg {
            background-color: $value !important;
        }
        &-border {
            border-color: $value !important;
        }
    }
    .#{$ns}-#{$color}-light {
        background-color: color.adjust($value, $lightness: 35%) !important;
        color: $value !important;
        border-color: color.adjust($value, $lightness: -10%) !important;
    }
}
@each $color, $value in $colors2 {
    .#{$ns}-#{$color}-2 {
        background-color: $value !important;
        color: $white !important;
        border-color: color.adjust($value, $lightness: -10%) !important;
        &:hover {
            background-color: color.adjust($value, $lightness: -10%);
        }
        &-text {
            color: $value !important;
        }
        &-bg {
            background-color: $value !important;
        }
        &-border {
            border-color: $value !important;
        }
    }
}

@each $color, $value in $stateColors {
    .#{$ns}-#{$color} {
        background-color: list.nth($value, 1) !important;
        color: $white !important;
        border-color: list.nth($value, 2) !important;
        &:hover {
            background-color: list.nth($value, 2);
        }
        &-text {
            color: list.nth($value, 1) !important;
        }
        &-bg {
            background-color: list.nth($value, 1) !important;
        }
        &-border {
            border-color: list.nth($value, 2) !important;
        }
    }
    .#{$ns}-#{$color}-light {
        background-color: color.adjust(list.nth($value, 1), $lightness: 35%) !important;
        color: list.nth($value, 1) !important;
        border-color: list.nth($value, 2) !important;
    }
}

 * {
     // ----- FireFox -----
     // scrollbar-color: <막대 색상> <트랙 색상>
     // scrollbar-width: thin | none | auto
     scrollbar-color: $thumbBackground $trackBackground;
     scrollbar-width: thin;

     // ----- Internet Explorer -----
     // scrollbar-face-color: <막대 색상>
     // scrollbar-track-color: <트랙 색상>
     // scrollbar-arrow-color: <양 끝 화살표 색상>
     scrollbar-face-color: $thumbBackground;
     scrollbar-track-color: $trackBackground;
     scrollbar-arrow-color: #f1f1f1;
     // ----- Webkit(Chrome, Edge, Safari) -----
     &::-webkit-scrollbar{
         // 스크롤바의 크기를 정의합니다.
         // (width - 세로 스크롤 두께) (height - 가로 스크롤 두께)
         width: $customScrollbarWidth+px;
         height: $customScrollbarHeight+px;
     }
     &::-webkit-scrollbar-thumb{
         // 스크롤바의 막대 색상을 정의합니다.
         background-color: var(--bgc);
         border-radius: $thumbBorderRadius+px;
         border:$thumbBorderWidth+px solid var(--bgc);
     }
     &:hover::-webkit-scrollbar-thumb {
         background-color: $thumbBackground;
     }
     &::-webkit-scrollbar-track{
         // 스크롤바의 트랙 색상을 정의합니다.
         background-color: $trackBackground;
     }
 //     &::-webkit-scrollbar-button{
 //         // 스크롤바의 버튼 색상을 정의합니다.
 //     }
 }

 // media query @mixin

 @mixin xs {
   /* Mobile - Portrait */
   @media (max-width: map.get($breakpoints, 'xs')) {
     @content;
   }
 }
 @mixin sm {
   /* Mobile - Landscape */
   @media (min-width: map.get($breakpoints, 'xs')) and (max-width: map.get($breakpoints, 'sm')) {
     @content;
   }
 }
 @mixin md {
   /* Tablet */
   @media (min-width: map.get($breakpoints, 'sm')) and (max-width: map.get($breakpoints, 'md')) {
     @content;
   }
 }
 @mixin lg {
   /* Desktop */
   @media (min-width: map.get($breakpoints, 'md')) and (max-width: map.get($breakpoints, 'lg')) {
     @content;
   }
 }
 @mixin xl {
   /* Desktop - Large */
   @media (min-width: map.get($breakpoints, 'xl')) {
     @content;
   }
 }


 .container {
    @include xs {
        max-width: map.get($breakpoints, 'xs');
        padding-left: 0;
        padding-right: 0;
    }
    @include sm {
        max-width: map.get($breakpoints, 'sm');
    }
    @include md {
        max-width: map.get($breakpoints, 'md');
    }
    @include lg {
        max-width: map.get($breakpoints, 'lg');
    }
    @include xl {
        max-width: map.get($breakpoints, 'xl');
    }
    &.center {margin: 0 auto;}
    
 }

 .be-popper-container {
    outline: none;
    z-index: 9999;
    .be-popper {
      background-color: var(--bgc);
      border-radius: $baseBorderRadius;
      border: 1px solid var(--brd);
      box-shadow: var(--depth-bs);
      overflow-y: auto;
    }
  }

  @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  


