@use '../../theme.scss' as *;

$cardBackgroundColor: var(--depth-bg);
$cardBoxShadow: var(--depth-bs);
$cardHorizontalPadding: 16px;
$cardVerticalPadding: 16px;

.be-card {
  position: relative;
  max-width: 100%;
  width: 290px;
  background-color: $cardBackgroundColor;
  border-radius: $baseBorderRadius;
  &.border {
    border: 1px solid var(--brd);
    > .extra {
      border-top: 1px solid var(--brd);
    }
  }
  &.float {
    box-shadow: $cardBoxShadow;
  }
  &.surface {
    background-color: var(--suf);
  }
  > div {
    padding: $cardVerticalPadding $cardHorizontalPadding;
  }
  > .image {
    width: 100%;
    padding: 0;
    border-top-left-radius: $baseBorderRadius;
    border-top-right-radius: $baseBorderRadius;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .title {
    font-size: 1.2em;
    font-weight: 600;
  }

  > .extra {
    padding: $cardVerticalPadding $cardHorizontalPadding;
  }

  &.attached {
    > .header {
    }
    > .footer {
    }
  }
}

.be-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  .be-card {
    .float {
      box-shadow: none;
    }
  }
}
