$gnbHeight: 60px;
html, body {
  width: 100vw;
  height: 100vh;
}
header.gnb {
  position: fixed;
  width: 100%;
  height: $gnbHeight;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bgc);
  border-bottom: 1px solid var(--brd);
  z-index: 999;
  .logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 0 10px;
  }
  .toggle-menu {
    display: none;
  }
}

header.gnb .logo {
  span {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .sub-logo {
    font-size: .8em;
    opacity: .8;
  }
}
.main-menu, .sub-menu {
  display: flex;
  gap: 10px;
}
.pages .main-menu .toggle-menu {
  display: none;
}
.sub-menu.float {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 999;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  &.main {
    padding-top: $gnbHeight;
    .right-part {
      height: 100%
    }
  }
  .left-part {
    max-width: 250px;
    height: 100vh;
    flex-shrink: 0;
  }
  .right-part {
    flex-grow: 1;
    max-width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
.side-menu {
  width: 250px;
  overflow-y: auto;
  flex-shrink: 0;
  position: relative;
  background-color: var(--bgc);
}
.menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  transition: transform 250ms ease;
  transform: translateX(-100%);
  overflow-y: auto;
}
.ui-list {
  width: 100%;
  height: 100%;
  // background-color: var(--bgc);
  .menu-header {
    padding: 10px;
    font-size: 1.2em;
  }
  .menu-contents {
    padding: 10px;
  }
  .nav-item {
    border-radius: 4px;
    a {
      width: 100%;
      padding: 10px;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
.flex-wrap {
  display: flex;
}
section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  //border: 1px solid #d6d6d6;
  margin-bottom: 20px;
  .section-title {
    padding-bottom: 20px;
    border-bottom: 1px solid #efefef;
    h1 {
      font-size: 3em;
      margin-bottom: 14px;
    }
    .section-desc p{
      font-weight: 300;
      color: #999;
      font-size: 1.2em;
    }
  }
  .section-contents {
    padding: 30px 0;
    .contents-title {
      margin-bottom: 10px;
    }
    .contents-wrapper {
      overflow-x: auto;
      .contents-item {
        padding: 10px;
      }
    }
  }
}
.grid-table {
  width: 80%;
  .rows {
    border-bottom: 1px solid #e4e4e4;
    &.grid-header {
      font-weight: 600;
      border-top: 2px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
    }
  }
}
.summary {
  .sub-title {
    margin: 10px 0 20px;
    color: #ccc;
    font-weight: bold;
  }
  .column-wrapper {
    display: flex;
    align-items: center;
  }
  .gray-item {
    padding: 4px 8px;
    text-align: center;
    min-height: 40px;
    height: 100%;
  }
  .field {
    margin-bottom: 5px;
  }
}
#typography {
  .mainWord {
    font-size: 4em;
  }
  .subWord {
    color: #ababab
  }
  .contents-wrapper {
    p {
      letter-spacing: 5px;
      font-weight: 500;
    }
  }
  .pretendard {
    font-family: 'Pretendard';
  }
  .color-box {
    display: inline-block;
    min-width: 120px;
    height: 120px;
    padding: 10px;
    word-break: break-word;
    margin: 5px;
    &.bordered {
      border: 1px solid
    }
    &.small {
      min-width: 30px;
      // height: 30px;
    }
  }
}
#colors {
  .color-item {
    text-align: center;
    .chip {
      width: 60px;
      height: 60px;
      border-radius: 4px;
      margin: 0 auto;
    }
    .name {
      color: #ccc;
    }
  }
}
#button, #input, #tag, #checkbox, #badge {
  .contents-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}
#grid {
  .ga-grid2:not(.tabled) > .column,
  .ga-grid > .rows .column,
  .ga-grid > .column {
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #f2f2f2;
      display: block;
      box-shadow: 0 0 0 1px #efefef inset;
      min-height: 50px;
    }
  }
}

#form {
  .ga-form {
    padding: 10px 20px;
  }
}
#list {
  .ga-list {
    max-width: 250px;
    border: 1px solid var(--brd);
    .item {
      padding: 10px;
    }
  }
}
//#tabs {
//  .ga-tabs {
//    .tab-menu {
//      .tab-item {
//        padding: 4px 12px;
//      }
//    }
//  }
//}

#selectbox {
  .select-menu {
    .option-item {
      padding: 10px;
    }
  }
}

.flex {
  display: flex;
}

#toast {
  .ex_toast_board {
    position: relative;
    .toast {
      display: flex;
      justify-content: space-between;
      //max-width: 450px;
      margin: 5px;
      opacity: .95;
      box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.16);
      transition: all 500ms;
      line-height: 1em;
      vertical-align: baseline;
      border-radius: 4px;
      overflow: hidden;
      border: 1px solid #ebebeb;
      &:hover {
        transform: translateX(10px);
      }
      .toast-icon, .toast-close {
        padding: 10px;
        flex-shrink: 0;
      }
      .toast-contents {
        flex-grow: 1;
        padding: 10px;
        max-width: 100%;
      }
      &.round {
        border-radius: 2em;
      }
      &.border-left {
        .toast-contents {
          border-left: 5px solid;
        }
      }
    }
  }
}

.ga-card {
  .footer {
    background-color: var(--suf);
    overflow-x: auto;
  }
  // .contents-wrapper {
  //   padding: 0 40px 80px;
  //   &:first-child {
  //     padding-top: 80px;
  //   }
  // }
  
}

section pre {
  background-color: transparent !important;
  // background-color: rgba(255, 255, 255, 0.75) !important;
  margin: 0 !important;
  // padding: 40px !important;
}
.code-wrapper {
  // background-color: var(--suf);
}

/* Extra Small Mobile */
@media (max-width: 359px) {
  // 초소형 모바일 대응 스타일
}

/* Small Mobile */
@media (min-width: 360px) and (max-width: 599px) {
  header.gnb {
    .logo {
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .main-menu {
      .toggle-menu {
        display: block;
      }
    }
  }
  .main-container {
    .left-part {
      .side-menu {
        position: absolute; 
        width: 100%;
        z-index: 9999;
        transition: margin 250ms ease;
        margin-left: -100%;
      }
    }
    &.open {
      .left-part {
        .side-menu {
          margin-left: 0;
        }
      }
    }
  }

  #typography {
    .color-box {
      min-width: 90px;
      height: 90px;
    }
  }
}

/* Mobile - Landscape */
@media (min-width: 600px) and (max-width: 899px) {
}

/* Tablet */
@media (min-width: 900px) and (max-width: 1199px) {}

/* Desktop */
@media (min-width: 1200px) and (max-width: 1799px) {}

/* Desktop (Large) */
@media (min-width: 1800px) {}
