extends layout

block contents
  .error-container
    .error-wrapper
      h1.status= error.status
      h1.message= message
      br
      .ga-button.circle.yellow.huge
        i.icon.left.xi-arrow-left 
        | 홈으로 가기
        a.link(href="/")
