extends layout

block title
    title Design System #{title}

block contents
    .main-banner.page-wrapper
        .container.center
            .title FROG UI 
            .sub-title 
                | Building 
                span.ga-blue-text consistent 
                | and 
                span.ga-green-text meaningful 
                | UI with Semantic CSS  
            .main-link
                .ga-button 
                    | Components
                    i.icon.right.xi-arrow-right
                    a.link(href="/pages/base") 
    .page-wrapper#custom-theme
        .container.center
            .ga-grid
                .column.span-6.span-xs-12 
                    .user-custom-theme.page-header
                        .page-icon
                            i.xi-border-color
                        .page-title User Customize Theme
                        //- .page-desc
                            p Semantic comes equipped with an intuitive inheritance system and high level theming variables that let you have complete design freedom.
                            p Develop your UI once, then deploy with the same code everywhere. 
                .column.span-6.span-xs-12.cell
                    .select-css
                        .ga-select-box.dropdown#css-selector
                                .selected-item.ga-input.icon.right
                                    input(type="text", readonly, value="Frog UI")
                                    i.icon.xi-angle-down
                                .select-menu
                                    .ga-list.selection
                                        .item.option-item(data-path="/frogui.css") Frog UI
                                        .item.option-item(data-path="/gcloud.css") G Cloud UI
                    hr
                    .preview-theme 
                        .ga-button Button
                        .ga-button.primary
                            i.icon.left.xi-user 
                            | Primary
                        .ga-button.secondary
                            i.icon.left.xi-file
                            | Secondary
                        .ga-button.red
                            | Color:Red
                        .ga-input.labeled.left.inline
                                input(type="text", placeholder="입력하세요", value="Rate", disabled)
                                label 
                                    i.icon.xi-star
                        .ga-buttons 
                            .ga-button.selected A
                            .ga-button B
                            .ga-button C
    .page-wrapper.summary#typography
        section
            .page-header.ui-elements
                .page-icon
                    i.xi-package
                .page-title Preview UI Element
                //- .page-desc Definitions aren't limited to just buttons on a page. Semantic's components allow several distinct types of definitions: elements, collections, views, modules and behaviors which cover the gamut of interface design.
            .ga-grid2.dosirak.round-xl(style="--grid-row-num: 6")
                .column.col-6.row-4.col-xs-12
                    h5.title Typography
                    .ga-grid
                        .column.span-6.mainWord ABC
                        .column.span-6.mainWord 가나다
                        .column.span-6.subWord
                            p ABCDEFGHIJKLMNOPQRSTUVWXYZ
                            p abcdefghijklmnopqrstuvwxyz
                            p 1234567890 ,./(){}[]\|:;"'?
                            p 가나다라마바사
                .column.col-6.row-4.col-xs-12
                    h5.title Heading
                    h1.header [H1] Frog UI System (28px)
                    h2.header [H2] Frog UI System (24px)
                    h3.header [H3] Frog UI System (18px)
                    h4.header [H4] Frog UI System (16px)
                    h5.header [H5] Frog UI System (14px)
                
                .column.col-6.row-2.col-xs-12
                    .ga-grid
                        .column.span-2 [light]
                        .column.span-6.light Frog UI System (300)
                        .column.span-4
                        .column.span-2 [regular]
                        .column.span-6 Frog UI System (400)
                        .column.span-4
                        .column.span-2 [bold]
                        .column.span-6.bold Frog UI System (600)
                        .column.span-4
                        .column.span-2 [bolder]
                        .column.span-6.bolder Frog UI System (900)
                        .column.span-4
    .page-wrapper.summary#colors
        section
            h5.header Colors
            .ga-grid
                .column.span-xs-4
                    .color-item
                        .chip.primary
                        .name primary
                .column.span-xs-4
                    .color-item
                        .chip.secondary
                        .name secondary
                .column.span-xs-4
                    .color-item
                        .chip.success
                        .name success
                .column.span-xs-4
                    .color-item
                        .chip.danger
                        .name danger
                .column.span-xs-4
                    .color-item
                        .chip.attention
                        .name attention
                .column.span-xs-4
                    .color-item
                        .chip.importance
                        .name importance
                .column.span-xs-4
                    .color-item
                        .chip.gray-0
                        .name white
                .column.span-xs-4
                    .color-item
                        .chip.gray-100
                        .name black
            h5.header Grayscale
            .ga-grid
                .column.span-xs-4
                    .color-item
                        .chip.gray-5
                        .name gray-5
                .column.span-xs-4
                    .color-item
                        .chip.gray-10
                        .name gray-10
                .column.span-xs-4
                    .color-item
                        .chip.gray-15
                        .name gray-15
                .column.span-xs-4
                    .color-item
                        .chip.gray-20
                        .name gray-20
                .column.span-xs-4
                    .color-item
                        .chip.gray-30
                        .name gray-30
                .column.span-xs-4
                    .color-item
                        .chip.gray-40
                        .name gray-40
                .column.span-xs-4
                    .color-item
                        .chip.gray-50
                        .name gray-50
                .column.span-xs-4
                    .color-item
                        .chip.gray-60
                        .name gray-60
                .column.span-xs-4
                    .color-item
                        .chip.gray-70
                        .name gray-70
                .column.span-xs-4
                    .color-item
                        .chip.gray-80
                        .name gray-80 
                .column.span-xs-4
                    .color-item
                        .chip.gray-90
                        .name gray-90 
                .column.span-xs-4
                    .color-item
                        .chip.gray-95
                        .name gray-95
    .page-wrapper.summary#grids
        section
            h5.header Grid System
            .ga-grid
                each col in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
                    .column
                        .gray-item.gray-15
    .page-wrapper.summary
        section
            h5.header Elements
            .ga-grid2.dosirak.round-xl(style="--grid-row-num: 6")
                .column.col-6.col-xs-12
                    h5.title Button
                    .field
                        button.ga-button.primary 메인
                        button.ga-button.secondary 강조
                    .field
                        button.ga-button.success 성공
                        button.ga-button.info 정보
                        button.ga-button.danger 위험
                        button.ga-button.attention 경고
                        button.ga-button.importance 중요
                .column.col-6.col-xs-12
                    h5.title Input
                    .field
                        .ga-input
                            input(type="text", placeholder="입력하세요") 
                    .field
                        .ga-input.disabled
                            input(type="text", placeholder="입력하세요") 
                
                .column.col-6.col-xs-12
                    h5.title Select box
                    .field
                        .ga-select-box.dropdown
                            .selected-item.ga-input.icon.right.fluid
                                input(type="text", placeholder="선택하세요", readonly)
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                    .field
                        .ga-select-box.float
                            .selected-item.ga-input.icon.right
                                input(type="text", placeholder="선택하세요", readonly)
                                i.icon.xi-angle-down
                            .select-menu
                                .ga-list.selection
                                    each col in [1, 2, 3, 4, 5, 6]
                                        .icon.item.option-item
                                            = `option${col}`
                .column.col-6.col-xs-12
                    h5.title Bedge
                    .ga-button
                        | Badge
                        span.ga-badge.float 0
                    .ga-button
                        | Badge 1
                        span.ga-badge.float.primary 1
                    .ga-button
                        | Badge New
                        span.ga-badge.float.red N
                    .ga-button
                        | Badge In
                        span.ga-badge.mark.primary
                .column.col-6.col-xs-12
                    h5.title Tag
                    .ga-tag.label Tag
                    .ga-tag.label.primary Primary
                    .ga-tag.label.secondary Secomdary
                    .ga-tag.label.red Red
                    .ga-tag.label.deepblue blue
                    .ga-tag.label.yellow Yellow
                .column.col-6.col-xs-12
                    h5.title Tag - Pointing
                    .ga-tag.pointing.up UP
                    .ga-tag.pointing.down Down
                    .ga-tag.pointing.left Left
                    .ga-tag.pointing.right Right
                .column.col-6.col-xs-12
                    h5.title Tag - kbd
                    .ga-tag.kbd.space Space
                    .ga-tag.kbd.enter Enter
                    .ga-tag.kbd.meta.cmd Commend
                    .ga-tag.kbd ESC
                .column.col-6.col-xs-12
                    h5.title List
                    .ga-list.selection.border
                        .item(style="padding: 10px").selected Item 1
                        .item(style="padding: 10px") Item 2
                        .item(style="padding: 10px") Item 3
                    
                    
    script(src="/js/selectbox.js")
