// @forward 'theme/gcloud/bases/colors.scss';
// @forward 'theme/gcloud/bases/variables.scss';
// @forward 'utils/func.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/xpressengine/XEIcon/xeicon.min.css');

// theme
@import 'themes/beui/bases/variables.scss';

//badge
@import 'themes/beui/components/badge.scss';
//button
@import 'themes/beui/components/button.scss';
//grid
@import 'themes/beui/components/grid.scss';
//grid2
@import 'themes/beui/components/grid2.scss';
//modal
@import 'themes/beui/components/modal.scss';
//panel
@import 'themes/beui/components/panel.scss';
//selectbox
@import 'themes/beui/components/selectbox.scss';
//switch
@import 'themes/beui/components/switch.scss';
//table
@import 'themes/beui/components/table.scss';
//tabs
@import 'themes/beui/components/tabs.scss';
//tag
@import 'themes/beui/components/tag.scss';
//card
@import 'themes/beui/components/card.scss';
